.assign-attributes {
  --input-background-color: 
  &__empty {
    margin-top: unit(2);
    font-style: italic;
  }

  &__add {
    margin-top: unit(2);

    button {
      margin: 0;
    }
  }
}

.assign-attributes-attribute {
  --section-background-color: var(--architect-panel-grey--dark);

  display: flex;
  margin-top: unit(2);
  padding: unit(2);
  border-radius: var(--border-radius);
  background: var(--section-background-color);


  .form-field {
    background: var(--architect-panel-grey);
  }

  &:first-child {
    margin-top: 0;
  }

  &__wrapper {
    display: flex;
    flex: 1 0 auto;
  }

  &__variable {
    flex: 1 0 auto;

    .form-fields-variable-picker {
      fieldset {
        border-color: #c7ced0; // sass-lint:disable-line no-color-literals
      }
    }
  }

  &__value {
    flex: 1 0 auto;
    margin-left: unit(2);
    border: 2px dashed #c7ced0; // sass-lint:disable-line no-color-literals;
    padding: unit(2);
    border-radius: var(--border-radius);

    legend {
      @extend .small-heading; // sass-lint:disable-line placeholder-in-extend
      padding: 0 unit(2);
    }
  }

  &__delete {
    flex: 0 0 5rem;
    padding-left: unit(2);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: unit(2);
      cursor: pointer;

      .cls-1 {
        fill: var(--text-dark);
      }
    }
  }
}
