%badge {
  display: inline;
  background-color: var(--color-mid-grey);
  border-radius: unit(.5);
  padding: unit(.5);
  margin: 0 unit(1);
  font-size: .7rem;
  color: var(--text-light);
}

.badge {
  @extend %badge;

  strong {
    text-transform: capitalize;
    // These properties are a hacky workaround for this:
    // https://stackoverflow.com/questions/49783681/text-transform-capitalize-css-not-working-correctly
    content: '';
    display: inline-block;
  }
}
