@use '~@codaco/ui/src/styles/global/core/units';

.boolean-option-configuration {
  display: grid;
  column-gap: units.unit(2);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

  &__item {
    padding: units.unit(3);
    border-radius: var(--border-radius);
    background: var(--architect-panel-grey--dark);

    h3 {
      margin-top: 0;
    }

    .form-field,
    .form-field-container {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
