.arch-card {
  position: absolute;
  z-index: var(--z-modal);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background);
  color: var(--text);
  transform: translateZ(0);

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &--logic {
    .editor__window {
      background: var(--architect-logic-background);
      color: var(--architect-logic-text);
    }
  }

  &--choice {
    .editor__window {
      background: var(--architect-card-background--choice);
      color: var(--architect-card-text--choice);
    }
  }
}
