.code-button {
  font-weight: 900;
  display: inline-block;
  padding-left: .5rem;

  a {
    color: var(--primary);
    cursor: pointer;
  }
}

.code-view {
  position: fixed;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  z-index: var(--z-panel);
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  max-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--settings);
  color: var(--text-light);
  padding: unit(4);
  transition: opacity var(--animation-duration-standard) var(--animation-easing),
  max-height var(--animation-duration-standard) var(--animation-easing),
  transform var(--animation-duration-standard) var(--animation-easing);
  user-select: all;
  font-weight: 600;

  pre {
    white-space: pre-wrap;
  }

  &--show {
    opacity: 1;
    max-height: 50vh;
    transform: scaleY(1);
  }
}
