@use '@codaco/ui/src/styles/global/core/units';

.codebook {
  --variable-pill-width: 25rem;

  margin: units.unit(4) units.unit(8);
  max-width: 80rem;

  &__notice {
    margin-top: 2rem;
    background-color: var(--background-alt);
    padding: 2rem;
    font-style: italic;
    text-align: center;
    border-radius: 1rem;
  }

  &__tag {
    display: inline-block;
    border-radius: units.unit(1);
    padding: units.unit(.5) units.unit(.75);
    font-size: .9em;
    color: var(--color-white);
    background-color: var(--color-mustard--dark);
    word-break: break-word;

    &--not-used {
      background-color: var(--architect-warning);
    }
  }

  &__category {
    margin-top: units.unit(4);

    &-items {
      border-top: units.unit(.25) solid var(--architect-divider);
      margin-top: units.unit(2);
    }
  }

  &-column {
    vertical-align: middle;

    &--control {
      white-space: nowrap;
      text-align: left;
      width: 0;

      // Ultimately this should probably live in codaco/ui Button as an option
      button {
        margin-left: units.unit(1);

        .button__content {
          padding: 0;
          margin-left: 0 !important; // sass-lint:disable-line no-important
        }
      }
    }
  }

  &__entity {
    overflow: hidden;
    margin: 2.4rem auto;
    padding: 2.4rem;
    background: var(--architect-panel-grey);
    border-radius: var(--border-radius);

    &:first-child {
      margin-top: units.unit(4);
    }

    &-detail {
      display: flex;
      align-items: center;
    }

    &-icon {
      flex-grow: 0;
      flex-basis: units.unit(8);

      .node {
        font-size: units.unit(8);
      }
    }

    &-name {
      padding-left: units.unit(4);
    }

    &-meta {
      flex: 1;
      padding-left: units.unit(4);

      .link {
        margin-right: .75rem;
      }
    }

    &-control {
      flex-grow: 0;
      display: flex;

      button {
        &:not(:last-of-type) {
          margin-right: units.unit(1);
        }
      }
    }
  }

  &__variables {
    margin-top: units.unit(2);
    width: 100%;

    &-row {
      &--heading {
        border-bottom: units.unit(.25) solid var(--architect-divider);
      }

      &--even {
        background-color: var(--architect-row-background);
      }
    }

    &-column,
    &-heading {
      margin-right: 0;
      height: 4rem;
      padding: .75rem .5rem;
      font-size: 1rem;
    }

    &-heading {
      vertical-align: middle;
      text-transform: none;

      .sort-direction {
        margin-left: .5rem;
        position: relative;
        display: inline-block;
        height: 1rem;
        width: 1rem;

        &::after {
          display: block;
          position: absolute;
          font-size: 1.5rem;
          top: -.15rem;
          color: var(--primary);
          content: 'dir';
        }

        &--asc {
          &::after {
            content: '\25BE';
          }
        }

        &--desc {
          &::after {
            content: '\25B4';
          }
        }
      }
    }

    &--usage {
      max-width: 300px;
    }

    &-usage-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > * {
        margin: .25rem;
      }
    };
  }

  .screen-link {
    margin-right: .5rem;
  }
}
