.code-view {
  position: fixed;
  z-index: var(--z-panel);
  top: 0;
  left: 0;
  width: 100%;
  background: var(--settings);
  color: var(--text-light);
  font-weight: 600;

  pre {
    white-space: pre-wrap;
  }

  &__content {
    padding: unit(4);
    height: 65vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: text;
  }

  &__controls {
    padding: unit(2) unit(4);
    background: var(--color-mustard--dark);
    cursor: pointer;
  }
}
