.codebook {
  &__notice {
    margin-top: 2rem;
    background-color: var(--background-alt);
    padding: 2rem;
    font-style: italic;
    text-align: center;
    border-radius: 1rem;
  }

  &__tag {
    display: inline-block;
    border-radius: unit(.5);
    padding: .1em .3em;
    margin-top: -.05em;
    font-size: .9em;
    color: var(--text-light);
    background-color: var(--architect-warning);
    text-transform: lowercase;
  }

  &__category {
    margin-top: unit(4);

    &-items {
      border-top: unit(.25) solid var(--architect-divider);
      margin-top: unit(2);
    }
  }

  &__entity {
    margin-top: unit(8);

    &:first-child {
      margin-top: unit(4);
    }

    &-detail {
      display: flex;
      align-items: center;
    }

    &-icon {
      flex-grow: 0;
      flex-basis: unit(8);

      .node {
        font-size: unit(8);
      }
    }

    &-name {
      padding-left: unit(4);
    }

    &-meta {
      flex: 1;
      padding-left: unit(4);
    }

    &-control {
      flex-grow: 0;
      display: flex;

      button {
        &:not(:last-of-type) {
          margin-right: unit(1);
        }
      }
    }

    &-variables {
      margin-left: unit(12);
      border-top: unit(.25) solid var(--architect-divider);
      margin-top: unit(4);

      &--no-border {
        border-top: 0;
      }
    }
  }

  &__variables {
    margin-top: unit(2);
    width: 100%;

    &-row {
      &--heading {
        border-bottom: unit(.25) solid var(--architect-divider);
      }

      &--even {
        background-color: var(--architect-row-background);
      }
    }

    &-column,
    &-heading {
      margin-right: 0;
      height: 4rem;
      padding: .75rem .5rem;
      font-size: 1rem;
    }

    &-heading {
      vertical-align: middle;
      text-transform: none;

      .sort-direction {
        margin-left: .5rem;
        position: relative;
        display: inline-block;
        height: 1rem;
        width: 1rem;

        &::after {
          display: block;
          position: absolute;
          font-size: 1.5rem;
          top: -.15rem;
          color: var(--primary);
          content: 'dir';
        }

        &--asc {
          &::after {
            content: '\25BE';
          }
        }

        &--desc {
          &::after {
            content: '\25B4';
          }
        }
      }
    }

    &-column {
      vertical-align: middle;
      width: 20%;

      &--controls {
        // max-width: 200px;
        white-space: nowrap;
        text-align: left;
        button {
          margin-left: .5rem;

          &:first-child {
            margin: 0;
          }
        }
      }
    }

    &-usage-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    };
  }

  .screen-link {
    margin-right: .5rem;
  }
}
