.context-panel {
  background: var(--architect-context-panel);
  color: var(--architect-context-text);

  &__controls {
    background: var(--architect-context-controls);
    padding: unit(2) unit(3);
    display: flex;
    align-items: center;
  }

  &__panel {
    overflow: hidden;

    &-container {
      padding: unit(2) unit(3) unit(4);
    }
  }

  &--light {
    background: var(--architect-context-panel--light);
    color: var(--architect-context-text--light);

    .context-panel__controls {
      background: var(--architect-context-controls--light);
    }
  }
}
