:root {
  --architect-table-background: var(--color-white);
  --architect-table-background--alt: var(--color-mustard);
  --architect-table-edit-background: var(--color-cyber-grape);
  --architect-table-chooser: var(--color-sea-green);
}

@import 'content-grid/content-grid';
@import 'content-grid/chooser';
@import 'content-grid/editor';
@import 'content-grid/preview';
@import 'content-grid/item';
