.context-panel {
  background: var(--architect-context-panel);
  color: var(--architect-context-text);

  &__controls {
    background: var(--architect-context-controls);
    padding: unit(2) unit(3);
    display: flex;
    align-items: center;

    // TODO: why is this broken?
    .form-field-checkbox {
      font-size: 0;

      &__label {
        font-size: 1rem;
      }

      &__input {
        position: absolute;
        z-index: -1;
      }
    }
  }

  &__panel {
    overflow: hidden;

    &-container {
      padding: unit(2) unit(3) unit(4) unit(3);
    }
  }

  &--skip {
    background: var(--architect-context-panel--strong);
    color: var(--architect-context-text--strong);

    .context-panel__controls {
      background: var(--architect-context-controls--strong);
    }
  }
}
