@use '~@codaco/ui/src/styles/global/core/units';

.contextual-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transparent-dark);
  color: var(--text-light);
  overflow: auto;

  &__container {
    position: absolute;
    max-width: 60rem;
    width: 50%;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: var(--modal-overlay);
    box-shadow: 0 0 4rem 0 var(--modal-window-box-shadow);
    border-radius: 1rem;
  }

  &__main {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: units.unit(4);
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: units.unit(2);
  }

  &__content {
    display: block;
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: units.unit(2);

    button {
      margin-left: 1rem;
    }
  }
}
