.control-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: unit(8);
  padding: 0 unit(2);
  background-color: var(--architect-control-bar-background);
  transform: translateZ(0) translateY(100%);
  transition-property: transform;
  transition-timing-function:  var(--animation-easing);
  transition-duration:  var(--animation-duration-standard);
  z-index: var(--z-global-ui);

  .button {
    margin: 0 unit(1);

    &[data-variant='save'] {
      position: relative;

      .spinner {
        --circle-size: .5rem;
      }

      .button__busy {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        // background: green;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__primary-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__secondary-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &--flip {
    .control-bar__primary-buttons {
      justify-content: flex-end;
    }

    .control-bar__secondary-buttons {
      justify-content: flex-start;
    }
  }

  &--delayed {
    transition-delay:  var(--animation-duration-standard);
  }

  &--show {
    transform: translateZ(0) translateY(0);
  }
}
