.edge-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: unit(6);
  width: unit(6);
  height: unit(6);
  background-color: var(--architect-panel-shadow);

  .icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}
