.editor {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: var(--z-default);

  &__container {
    @include no-scrollbars;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
