$background-gradient-start: rgb(255 255 255 / 10%);
$background-gradient-end: rgb(255 255 255 / 5%);
$background-gradient: linear-gradient($background-gradient-start, $background-gradient-end);

.filter-group {
  @include flex-inline;
  @include flex-align(center, middle);

  background-color: var(--architect-rules);
  color: var(--text-light);
  transition: background-color var(--animation-easing) var(--animation-duration-standard);
  border-radius: 10px;
  padding: 10px;

  &__join {
    @include flex-inline;
    @include flex-align(center, middle);

    flex: 0 0 50px;
    padding-right: 10px;
  }

  &__rules {
    flex: 1 1 auto;
    padding: 10px;
    border-radius: 10px;
    background: $background-gradient;
    overflow: hidden;
  }

  &--and {
    background-color: var(--architect-rules--and);
  }

  &--or {
    background-color: var(--architect-rules--or);
  }
}
