.guided-new-stage-screen {
  &__step {
    &-controls {
      margin-top: unit(4);
      display: flex;
    }

    &-back {
      display: flex;
      justify-content: flex-start;
    }

    &-actions {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      .button {
        margin-left: unit(2);

        &:first-child {
          margin: 0;
        }
      }
    }
  }
}

// .screen--guided-new-stage {
//   .screen__content {
//     overflow: hidden;
//   }
// }

