$panel-color: var(--color-platinum);
$panel-color-alt: var(--color-platinum--dark);
$scrollbar-height: 1.25rem;
$scrollbar-padding: unit(2);

@mixin scrollable($top-height: $scrollbar-padding) {
  $bottom-height: 2rem;
  $opaque: rgba(0, 0, 0, 1);
  // sass-lint:disable no-vendor-prefixes
  -webkit-mask-image: linear-gradient(180deg, transparent, $opaque $top-height, $opaque calc(100% - #{$bottom-height}), transparent 100%);

  overflow-x: hidden;
  overflow-y: auto;
  // sass-lint:disable no-vendor-prefixes
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding-top: $top-height;
}

$font-sizes: (
  l6: 4.36rem,
  l5: 3.487857143rem,
  l4: 2.79rem,
  l3: 2.232142857rem,
  l2: 1.785714286rem,
  l1: 1.428571429rem,
  body: 1.142857143rem,
);

@function type-scale($name) {
  @return map-get($font-sizes, $name);
}
//8.4

.graphic-button {
  @include clickable;
  display: inline-block;
  width: 100%;
  color: var(--color-white);
  background-repeat: no-repeat;
  height: 13.5rem;
  border-radius: 1rem;
  position: relative;

  &__label {
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%);

    h2 {
      font-size: type-scale(l2);
      margin: 0;
    }

    h3 {
      text-transform: none !important;
      font-size: type-scale(body);
      margin: .5rem 0 0;
    }
  }
}

.home {
  @include scrollable;
  background-color: var(--color-white);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &__container {
    padding: 0 unit(8);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background-texture.svg');
    opacity: .1;
  }

  // &__splash {
  //   position: absolute;
  //   top: unit(4);
  //   height: unit(12);
  //   left: 50%;
  //   transform: translateX(-50%);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   &-logo {
  //     display: flex;
  //     vertical-align: center;
  //     align-items: center;

  //     &-icon {
  //       width: unit(12);
  //     }

  //     &-text {
  //       margin-left: unit(2);
  //       letter-spacing: .75rem;
  //       font-family: var(--heading-font-family);
  //       font-size: 2rem;
  //     }
  //   }

  //   &-tag {
  //     position: absolute;
  //     top: 100%;
  //   }
  // }

  // &__project {
  //   position: absolute;
  //   top: unit(4);
  //   right: unit(12);
  //   height: unit(12);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   &-logo {
  //     width: unit(12);
  //   }
  // }

  &__container {
    @include scrollable;
    box-sizing: border-box;
    padding: $scrollbar-padding unit(12) unit(8);
    // overflow-y: auto;
  }
}

.home-section {
  border-radius: var(--border-radius);
  margin: 4rem 0 0;
  overflow: hidden;

  &:first-child {
    margin: 0;
  }

  &__split {
    display: flex;
    width: 100%;

    &-left,
    &-right {
      flex-grow: 1;
    }

    &-vr {
      $rule-width: px(5);
      padding: unit(4);
      position: relative;
      flex-basis: calc(#{unit(4)} + #{$rule-width});

      &::before {
        content: '';
        position: absolute;
        top: 2rem;
        height: calc(100% - #{unit(2)});
        border-radius: $rule-width;
        width: $rule-width;
        background-color: var(--color-platinum--dark);
      }
    }
  }
}

.home-group {
  padding: px(40) px(80);
  background-color: var(--color-platinum--dark);

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0;
  }

  &--alt {
    background-color: var(--color-platinum);
  }
}

.aspect-ratio {
  position: relative;
  padding-bottom: 50%;
  background: red;

  & > div,
  & > video,
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

$protocol-card-component: 'protocol-card';

.#{$protocol-card-component} {
  @include clickable(2);

  background: var(--color-white);
  color: var(--color-navy-taupe);
  border-radius: var(--border-radius);
  display: flex;
  overflow: hidden;
  margin: unit(2);
  flex-direction: column-reverse;
  max-height: px(300);

  &--server {
    .#{$protocol-card-component}__icon-section {
      background: var(--color-mustard);
      color: var(--color-white);
    }
  }

  &__icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aab0fd;
    background: var(--color-slate-blue--dark);
    flex-direction: row;
    padding: px(10) px(30);

    .protocol-icon {
      height: 3rem;
      width: 3rem;
      display: flex;

      .icon {
        flex: 0 1 auto;
        height: 100% !important;
        width: 100% !important;
      }
    }

    .protocol-meta {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h6 {
        margin: 0.3rem;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 0.6rem;
      }
    }
  }

  &__main-section {
    flex: 0 1 auto;
    padding: px(30) px(60) 0;
    flex-direction: column;

    .protocol-name {
      flex: 0 0 auto;
      margin: 0;
      align-items: center;
      display: flex;
      hyphens: auto;
    }

    .protocol-description {
      height: px(150);
      overflow-y: auto;
      overflow-x: hidden;
      padding: px(30) 0;
      margin: 0;
      font-size: 0.85rem;
    }

  }

  .status-icon {
    height: 3rem;
    width: 3rem;
    text-align: center;
    background: var(--info);
    padding: px(10);
    margin-left: px(10);
    border-radius: 50%;
    display: inline-block;

    .icon {
      width: 100% !important;
      height: 100% !important;
    }
  }

}
