.inline-edit-screen {
  position: absolute;
  top: unit(0);
  left: unit(0);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-overlay);
  z-index: var(--z-modal);

  &__header {
    background: var(--color-slate-blue--dark);
    color: var(--color-white);
    width: 100%;
    padding: unit(2) unit(4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    max-width: 80rem;
    max-height: calc(100% - #{unit(18)});
    border-radius: var(--border-radius);
    box-shadow: 0 0 4rem 0 var(--modal-window-box-shadow);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__content {
    background: var(--color-white);
    flex: 1 1 auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: unit(2);
  }

  &__controls {
    width: 100%;
    padding: unit(2) unit(4);
    background: var(--color-slate-blue);
    display: flex;
    justify-content: flex-end;

    button {
      &:last-child {
        margin-left: unit(2);
      }
    }
  }
}
