@use '~@codaco/ui/src/styles/global/core/units';

.inline-edit-screen {
  position: absolute;
  top: units.unit(0);
  left: units.unit(0);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-overlay);
  z-index: var(--z-modal);

  &__header {
    background: var(--color-slate-blue--dark);
    color: var(--color-white);
    width: 100%;
    padding: units.unit(1) units.unit(4);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 units.unit(1) .2rem 0 var(--architect-panel-shadow);
    z-index: var(--z-panel);
  }

  &__container {
    background: var(--color-white);
    max-width: 80rem;
    min-width: 50rem;
    max-height: calc(100% - #{units.unit(18)});
    border-radius: var(--border-radius);
    box-shadow: 0 0 4rem 0 var(--modal-window-box-shadow);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__content {
    background: var(--color-white);
    flex: 1 1 auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: units.unit(2);
  }

  &__controls {
    width: 100%;
    padding: units.unit(2) units.unit(4);
    background: var(--architect-control-bar-background);
    display: flex;
    justify-content: flex-end;

    button {
      &:last-child {
        margin-left: units.unit(2);
      }
    }
  }
}
