.issues {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fx);
  background-color: var(--color-mustard);
  transform-origin: 0 100%;
  transform: scaleY(0);
  transition-duration: var(--animation-duration-fast);
  transition-timing-function: var(--animation-easing);
  transition-property: transform;
  overflow: hidden;
  color: var(--text-light);

  &__title-bar {
    @include typography(title-2);
    background-color: var(--color-mustard--dark);
    padding: unit(2) unit(4);
    cursor: pointer;
  }

  &__issues {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: issue;
    max-height: 0;
    transition-property: max-height;
    transition-timing-function: var(--animation-easing);
    transition-duration: var(--animation-duration-standard);
  }

  &__issue {
    margin: 0;
    padding: 0;
    background-color: transparent;
    transition-property: background-color;
    transition-timing-function: var(--animation-easing);
    transition-duration: var(--animation-duration-standard);

    a {
      display: block;
      width: 100%;
      padding: unit(2) unit(4);
      text-decoration: none;
      color: var(--text-light);

      &::before {
        counter-increment: issue;
        content: counter(issue) '.';
        margin-right: unit(2);
      }
    }

    &:hover {
      background-color: var(--color-sea-green);
    }
  }

  &--show {
    transform: scaleY(1);
  }

  &--open {
    .issues__issues {
      max-height: 100vh;
    }
  }
}
