.issues {
  width: 100%;
  background-color: var(--color-sea-serpent);
  transform-origin: 0 100%;
  transform: scaleY(0);
  transition-duration: var(--animation-duration-fast);
  transition-timing-function: var(--animation-easing);
  transition-property: transform;
  overflow: hidden;
  color: var(--text-light);

  &__title-bar {
    @include typography(title-2);
    background-color: var(--color-sea-serpent--dark);
    padding: 0 unit(4);
    height: unit(8);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &-icon {
      .icon {
        position: relative;
        top: unit(.25);
        height: unit(3.5);
        width: unit(3.5);
      }
    }

    &-text {
      margin: 0 unit(2);
      flex: 1 0 auto;
    }

    &-toggle {
      .icon {
        position: relative;
        top: unit(.25);
        height: unit(2.5);
        width: unit(2.5);
      }
    }
  }

  .issues__toggle--open {
    display: none;
  }

  &__issues {
    @include no-scrollbars;
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: issue;
    transition-property: max-height;
    transition-timing-function: var(--animation-easing);
    transition-duration: var(--animation-duration-standard);
    overflow: hidden auto;
    max-height: 0;
  }

  &__issue {
    margin: 0;
    padding: 0;
    background-color: transparent;
    transition-property: background-color;
    transition-timing-function: var(--animation-easing);
    transition-duration: var(--animation-duration-standard);

    a {
      display: block;
      width: 100%;
      padding: unit(2) unit(4);
      text-decoration: none;
      color: var(--text-light);

      &::before {
        counter-increment: issue;
        content: counter(issue) '.';
        margin-right: unit(2);
      }
    }

    &:hover {
      background-color: var(--color-sea-green);
    }
  }

  &--show {
    transform: scaleY(1);
  }

  &--open {

    .issues__issues {
      max-height: 300px;
    }

    .issues__toggle--open {
      display: block;
    }

    .issues__toggle--close {
      display: none;
    }
  }
}
