$opaque-background: rgba(255, 255, 255, .7);

.new-stage-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: auto;
  max-width: 80rem;
  margin: 0 auto;

  &__heading {
    padding: unit(2) 0;
  }

  &__picker {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  &__menu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: unit(30) 0 0;

    &-section {
      padding: unit(2) 0;
      margin-bottom: unit(2);
    }
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__search {
    flex: 50px 0 0;
    padding: unit(2) unit(2) 0 unit(4);
  }

  &__list {
    flex: 1;
    overflow-y: scroll;
  }

  &__interface {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--color-platinum--dark);
    border-radius: unit(2);
    padding: unit(4) unit(2);

    h3 {
      line-height: 1.3em;
      margin: 0 .25rem unit(1);
    }

    &-description {
      margin: 0 0 unit(1);
    }

    &-preview {
      width: 100%;
      border-width: .25rem;
      border-style: solid;
      border-color: transparent;
      margin-bottom: unit(1);
    }

    &-container {
      width: calc(50% - #{unit(4)});
      display: inline-block;
      margin: 0 0 unit(4) unit(4);
    }

    &:focus {
      background-color: var(--architect-active);
    }
  }
}

// TODO: where should this live?
.screen--new-stage {
  .screen__content {
    overflow: hidden;
  }
}
