@use '~@codaco/ui/src/styles/global/core/units';

.screen {
  &.new-stage {
    height: 100%;

    .stage-heading {
      .stage-editor {
        flex: 1;
      }
    }

  }
}

.new-stage-screen {
  height: 100%;

  &__filter {
    .form-field-container {
      margin: units.unit(1) 0;

      .form-field-text__input {
        margin-bottom: 0;
      }
    }
  }

  &__menu-tags {
    display: flex;
    align-items: center;

    .menu-tags {
      &__label {
        flex: 0 0;
        display: flex;
        align-items: center;
        margin-right: units.unit(1);
      }

      &__tags {
        flex: 1 auto;
      }
    }
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }


  &__interfaces {
    display: flex;
    flex-direction: column;
    margin: units.unit(2) 0;

    &--empty {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }


  &__interface {
    flex: 1 0 100%;
    cursor: pointer;
    padding: units.unit(2) units.unit(8);
    border-bottom: 2px solid var(--architect-divider);

    &-content {
      margin: 0 auto;
      display: flex;
      align-items: center;
    }

    &--highlighted {
      background: var(--primary);
      color: var(--color-white);
    }

    &-image {
      flex: 0 0 15rem;
      margin-right: units.unit(4);
    }

    &-preview {
      width: 100%;
      border-radius: .5rem;
    }

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-description {
      margin: 0 0 units.unit(1);
    }
  }
}
