$opaque-background: rgba(255, 255, 255, .7);

.new-stage-screen {
  --opaque-background: $opaque-background;

  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: auto;
  max-width: 80rem;
  margin: 0 auto;

  &__section {
    max-height: auto;
    max-width: 80rem;
    margin: unit(4) auto;
    padding: unit(4);
  }

  &__search {
    background: var(--architect-control-bar-background);
    padding: unit(2);
    border-radius: unit(2);
    margin-bottom: unit(4);
    margin-top: unit(2);

    .form-field-container,
    .form-field {
      margin: 0;
    }
  }

  &__categorized {
    display: flex;
    flex: 1;
    height: 100%;
    transition-property: filter;
    transition-timing-function: var(--animation-easing);
    transition-duration: var(--animation-duration-fast);
  }

  &__menu {
    background: var(--architect-panel-grey);
    border-radius: unit(2);
    overflow: hidden;
    padding: unit(2) 0;
    margin-bottom: unit(4);
    display: flex;
    flex-direction: column;
    flex: 1;

    &-section {
      padding: unit(2) unit(4);
      margin-bottom: unit(2);
    }

    &-items {
      list-style: none;
      padding: 0;
      margin: unit(-2) unit(-4);
    }

    &-other {
      padding: unit(2) unit(4);
      flex: 1;
      align-items: flex-end;
      display: flex;
    }

    &-item {
      margin: 0;
      padding: 0;
      cursor: pointer;
      transition-property: background-color, color;
      transition-duration: var(--animation-duration-standard);
      transition-timing-function: var(--animation-easing);

      &:hover {
        background-color: var(--architect-shadow);
      }

      div {
        padding: unit(2) unit(4);
      }

      &--selected {
        background-color: var(--architect-active);
        color: var(--text-light);

        &:hover {
          background-color: var(--architect-active);
        }
      }
    }
  }

  &__categorized-list {
    flex: 3;
    overflow-y: scroll;
  }

  &__interfaces {
    margin-right: unit(4);
  }

  &__container {
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  &__results {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: var(--opaque-background);
  }

  &__interface {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    h3 {
      line-height: 1.3em;
      margin: 0 .25rem unit(1);
    }

    &-description {
      margin: 0 0 unit(1);
    }

    &-preview {
      width: 100%;
      border-width: .25rem;
      border-style: solid;
      border-color: transparent;
      transition-property: border-color;
      transition-duration: var(--animation-duration-standard);
      transition-timing-function: var(--animation-easing);
      margin-bottom: unit(1);
    }

    &-container {
      width: calc(33% - #{unit(4)});
      display: inline-block;
      margin: unit(4) 0 0 unit(4);
    }

    &:hover {
      .new-stage-screen__interface-preview {
        border-color: var(--architect-active);
      }
    }
  }

  &--has-query {
    .new-stage-screen__categorized {
      filter: blur(#{unit(1)});
    }
  }
}

// TODO: where should this live?
.screen--new-stage {
  .screen__content {
    overflow: hidden;
  }
}
