.overview {
  margin: 0 auto;
  margin-top: unit(4);
  width: 60rem;
  z-index: var(--z-default);
  position: relative;
  background: var(--color-white);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 unit(1) .2rem 0 var(--architect-panel-shadow);
  display: flex;
  flex-direction: column;

  &__panel {
    padding: unit(2) unit(6);

    .overview-description {
      textarea {
        padding-bottom: 0;
        margin-bottom: 0;
        min-height: 5rem;
      }

      .form-field-container {
        margin-bottom: 0;
      }
    }

  }

  &__footer {
    background: var(--color-slate-blue--dark);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
    padding: unit(2) unit(6);

    .icon {
      height: 100%;
      width: 8rem;
      margin-right: unit(4);
    }

    .graphic-button {
      flex: 1 auto;
      height: 5rem;

      &__label {

        h2,
        h3 {
          text-shadow: 1px 1px 0 #000, 0 0 .5rem #00000073; // sass-lint:disable-line no-color-literals no-invalid-hex
        }

        h2 {
          font-size: 1.53rem;
        }

        h3 {
          font-size: .8rem;
        }
      }

      &:first-of-type {
        margin-right: unit(2);
      }
    }
  }
}
