.overview {
  margin: unit(8) auto 0;
  width: 75vw;

  .edge-icon {
    margin: 0 unit(2) unit(2) 0;
  }

  &__name {
    text-align: center;
  }

  &__panel {
    background-color: var(--architect-panel-background);
    color: var(--architect-panel-text);
    margin: 0 auto;
    width: 75vw;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: unit(1) unit(1) 0 0 var(--architect-panel-shadow);
  }

  &__asset-group {
    display: block;
    margin: unit(1) 0;
  }

  &__asset {
    max-height: 100px;
    display: inline-block;
    margin: 0 unit(.5);
  }

  &__badge {
    display: inline-block;
    margin: unit(1) 0;
    background: var(--color-mustard);
    padding: unit(1);
    border-radius: unit(1);
  }

  &__groups {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__group {
    --base-node-size: 90px;
    border: 1px solid var(--architect-panel-divider);
    padding: unit(4) unit(4) unit(6);
    margin: unit(1);
    border-radius:  unit(1);
    text-align: left;
    position: relative;
    flex: 0 0 calc(50% - #{unit(2)});

    &--forms {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      & > a {
        flex: 0 0 50%;
        padding: 0 .5rem;
      }
    }

    &--title {
      flex: 100%;
      padding: unit(2) unit(4);
    }

    .node {
      margin-bottom: 1rem;
    }

    .stage-editor-section-form__card {
      flex: 0 0 auto;
      height: 130px;
      margin: 0 .6rem 1.6rem 0;
    }
  }

  &__manage-button {
    position: absolute;
    bottom: unit(2);
    right: unit(2);
  }

  &__group-title {
    position: absolute;
    top: -.5rem;
    background: var(--architect-panel-background);
    padding: 0 unit(2);
  }

  &__forms {
    display: table;
    width: 100%;
  }

  &__form {
    display: table-row;

    &-name,
    &-edit {
      display: table-cell;
      text-align: left;
      padding: unit(.5) 0;

      a {
        text-decoration: none;
        margin: 0;
      }
    }

    &-name {
      a {
        display: block;
        color: var(--text);
      }
    }

    &-edit {
      text-align: right;
    }
  }

  &__new-form {
    margin: unit(2) 0 0;

    a {
      text-decoration: none;
      margin: 0;
    }
  }

  &.tween-protocol {
    $transition-before: 500ms;
    $transition-after: 300ms;
    $transition-duration: 500ms;
    $transition-easing: cubic-bezier(.25, .1, .25, 1);
    will-change: transform, opacity;
    transform: translateZ(0);
    transition: opacity $transition-after $transition-easing;

    .timeline-overview__content {
      transition: opacity $transition-before $transition-easing;
    }

    .timeline-overview__panel {
      will-change: transform;
      transform: translateZ(0);
      transition: border-radius $transition-duration $transition-easing,
      transform $transition-duration $transition-easing;
    }

    &-before {
      .timeline-overview__content {
        opacity: 0;
      }
    }

    &-active {
      opacity: .8;

      .timeline-overview__panel {
        border-radius: unit(3);
        transform: translate(unit(-4), unit(4));
      }
    }

    &-after {
      opacity: 0;

      .timeline-overview__panel {
        transform: translate(unit(-4), unit(4)), scale(0, 0);
      }
    }

  }
}
