
.preview {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.network-canvas {
  // sass-lint:disable no-color-literals
  --color-shadow: rgba(0, 0, 0, .15);
  --color-modal-shadow: rgba(20, 0, 0, .2);
  --background: var(--color-navy-taupe);
  --text: var(--color-white);
  --input-label: var(--color-charcoal);
  --text-light: var(--color-white);
  --text-dark: var(--color-charcoal);
  --background-dark: var(--color-navy-taupe);
  --body-font-family: #{$netcanvas-font-stack};
  // Inputs
  --input-background: #{transparentize(rgb(0, 0, 0), .67)};
  --input-label: #{transparentize(rgb(255, 255, 255), 0)};
  --input-placeholder: #{transparentize(rgb(255, 255, 255), .75)};

  --modal-overlay: #{transparentize(rgb(0, 0, 0), .2)};
  --modal-window-box-shadow: #{transparentize(rgb(22, 21, 43), .25)};

  --panel-selected-node-bg-color: #{transparentize(rgb(255, 255, 255), .95)};

  --panel-bg-muted: #36315f; //sass-lint:disable-line no-color-literals

  --menu-item-hover: #{darken(rgb(0, 201, 162), 5%)};
  --menu-item-hover-settings: #{darken(rgb(107, 114, 236), 5%)};

  @import '../../network-canvas/src/styles/main';

  color: var(--text);
  background: var(--background);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;

  .window {
    .modal {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
