
.preview { }

.previewer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0 0;
  background: #888;

  &__content {
    width: 1024px;
    height: 768px;
    border: 0;
  }
}

.network-canvas {
  // sass-lint:disable no-color-literals
  --color-shadow: rgba(0, 0, 0, .15);
  --color-modal-shadow: rgba(20, 0, 0, .2);
  --background: var(--color-navy-taupe);
  --text: var(--color-white);
  --input-background: var(--color-platinum--dark);
  --input-label: var(--color-charcoal);
  --text-light: var(--color-white);
  --text-dark: var(--color-charcoal);
  --background-dark: var(--color-navy-taupe);

  @import '../../network-canvas/src/styles/main';

  color: var(--text);
  background: var(--background);
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;

  .window {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .modal {
      position: absolute !important;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.preview-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: red;
  z-index: 2;
  -webkit-app-region: drag;
  z-index: var(--z-chrome);
  background: var(--architect-titlebar);
  padding: unit(1);

  .button {
    margin-right: unit(1);
  }
}
