.recent-protocols {
  position: relative;
  margin: 0 auto;
  border-radius: unit(1);
  background-color: var(--light-background);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  filter: drop-shadow(10px 10px 0 var(--architect-control-bar-shadow));
  z-index: 2;
  padding: unit(3);

  &__title {
    width: 100%;
    text-align: center;
    color: var(--text-light);
    margin-bottom: 2rem;
  }

  &__protocol {
    display: flex;
    flex: 0 0;
    justify-content: center;
    width: 15vw;
    margin: 1rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__welcome {
    text-align: center;
    width: 80%;
    color: var(--text-light);
    margin: 0 auto;
    align-self: center;
  }
}
