@use '~@codaco/ui/src/styles/global/core/units';

.recent-protocols {
  position: relative;
  margin: 0 auto;
  border-radius: units.unit(1);
  background-color: var(--light-background);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  filter: drop-shadow(10px 10px 0 var(--architect-control-bar-shadow));
  z-index: 2;
  padding: units.unit(3);

  &__title {
    width: 100%;
    text-align: center;
    color: var(--text-light);
    margin-bottom: 2rem;
    margin-top: 0;
  }

  &__protocol {
    display: flex;
    flex: 0 0;
    justify-content: center;
    width: 25vmin;
    margin: 1rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__welcome {
    text-align: center;
    width: 85vmin;
    padding: units.unit(4);
    color: var(--text-light);
    margin: 0 auto;
    align-self: center;

    p {
      text-align: left;
    }
  }
}
