.recent-protocols {
  max-height: 50vh;
  height: 300px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 1.8rem 1.2rem 0;
  border-radius: unit(1);
  background-color: var(--light-background);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: scroll;
  filter: drop-shadow(10px 10px 0 var(--architect-control-bar-shadow));
  z-index: 2;

  &__title {
    position: absolute;
    width: 100%;
    top: 1.5rem;
    text-align: center;
    color: var(--text-light);
  }

  &__protocol {
    display: flex;
    flex: 0 0 25%;
    justify-content: center;
  }

  &__welcome {
    text-align: center;
    width: 80%;
    color: var(--text-light);
    margin: 0 auto;
    align-self: center;
  }
}
