.rich-text {
  user-select: all;
  pointer-events: all;

  &__toolbar {
    background: var(--color-platinum);
    border-radius: 1rem 1rem 0 0;
    padding: .6rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__editable {
    cursor: text;
    background: var(--color-white);
    padding: 1rem 1.2rem;
    border-bottom-width: unit(.25);
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: border-bottom-color var(--animation-easing) var(--animation-duration-standard);
  }

  &__button {
    border: 0;
    outline: none;
    background: transparent;
    transition: filter var(--animation-easing) var(--animation-duration-fast);
    filter: grayscale(100%);
    cursor: pointer;

    &:hover {
      filter: none;
    }

    &--is-active {
      font-weight: bold;
      filter: grayscale(100%) brightness(0);

      &:hover {
        filter: grayscale(100%) brightness(0);
      }
    }
  }

  &--is-active {
    .rich-text__editable {
      border-bottom: 2px solid var(--input-accent);
    }
  }
}
