.rule-drop-down {
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;

  &__spacer {
    font-size: 1.2rem;
    visibility: hidden;
    height: 1.2rem;
  }

  &__options {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    left: 0px;
    color: palette('text');
    font-size: 1.2rem;
    background-color: transparent;
    border: 0;
    line-height: 1.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
