.scene {
  @include no-scrollbars;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;

  &__brand {
    position: absolute;
    bottom: unit(4);
    right: unit(3);
    width: unit(23);
    z-index: var(--z-global-ui);
    transition-duration: var(--animation-duration-standard);
    transition-timing-function: var(--animation-easing);
    transition-property: transform, opacity;
    will-change: transform, opacity;
  }

  &__home {
    z-index: var(--z-global-ui);
    position: absolute;
    width: unit(10);
    height: unit(10);
    top: unit(2);
    left: unit(2);
    cursor: pointer;
    transition-duration: var(--animation-duration-standard);
    transition-timing-function: var(--animation-easing);
    transition-property: transform, opacity;
    will-change: transform, opacity;
    transform: translateY(0);

    &.active {
      opacity: 0;
      pointer-events: none;
      transform: translateY(calc(-100% - #{unit(2)}));
    }
  }

  &__background {
    @extend %wave;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-duration: var(--animation-duration-standard);
    transition-timing-function: var(--animation-easing);
    transition-property: transform;
    will-change: transform;

    &--top {
      transform: translateZ(0) translateY(-75vh) rotate(180deg);
    }

    &--bottom {
      transform: translateZ(0);
    }
  }

  &__start {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition-duration: var(--animation-duration-standard);
    transition-timing-function: var(--animation-easing);
    transition-property: opacity;
    will-change: opacity;
  }

  &__recent-protocols {
    position: absolute;
    top: 50vh;
    left: 0;
    width: 100%;
    display: flex;
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }

  &__protocol {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    z-index: 2;
  }

  &__timeline {
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, transform;
    transition-duration: 500ms;
    transform: translateY(50vh);
    will-change: transform, opacity;
  }

  &--protocol {
    .scene {
      &__start {
        opacity: 0;
      }

      &__brand {
        opacity: 0;
        transform: translateY(100%);
      }

      &__protocol {
        visibility: visible;
      }

      &__timeline {
        opacity: 1;
        height: auto;
        visibility: visible;
        transform: translateY(0);
      }

      &__background--top {
        opacity: 1;
        visibility: visible;
        transform: translateY(0) rotate(180deg);
      }

      &__background--bottom {
        transform: translateY(75vh);
      }
    }
  }
}
