.selector {
  @include flex-inline;
  color: palette('text-dark');
  width: 100%;
  margin-top: 10px;
  background: palette('intent-border');
  padding: 10px;
  border-radius: 10px;

  .selector-drag-handle {
    @include flex-inline;
    @include flex-align(center, center);
    width: 50px
  }

  .selector__options {
    @include flex-inline;
    @include flex-align(flex-start, center);
    flex: 1 0 auto;
    padding: 0;
    border-radius: 20px;
    height: 60px;
  }

  .selector__option {
    @include flex-inline;
    @include flex-align(flex-start, center);
    background: palette('intent-border');
    height: 100%;
    padding: 0 20px;
    position: relative;

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &--target {
      background: palette('edge-alt-1');
      // padding-right: 30px;

      &::after {
        display: block;
        content: '';
        position: absolute;
        right: 0;
        transform: translateX(10px);
        z-index: 2;
        top: 0;
        width: 0;
        height: 0;
        border-top: 30px solid palette('edge-alt-2');
        border-bottom: 30px solid palette('edge-alt-2');
        border-left: 20px solid palette('edge-alt-1');
      }
    }

    &--attribute {
      background: palette('edge-alt-2');
      // padding-left: 15px;
    }

    &--operator {
      background: palette('edge-alt-3');
    }

    &--value {
      background: palette('edge-alt-4');
    }
  }
}
