@use '~@codaco/ui/src/styles/global/core/units';

.simple-list {
  &:first-child {
    border-top: units.unit(.25) solid var(--architect-divider);
  }

  &__item {
    display: flex;
    width: 100%;
  }

  &__attribute {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: center;
    padding: units.unit(2) units.unit(1);

    a {
      text-decoration: none;
      color: var(--text);
      cursor: pointer;
    }

    h3 {
      margin: 0;
    }
  }
}
