.stage-type-selector {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 50px;

  &__search {
  }

  &__categorized {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  &__menu {
    flex: 1;
    background: lime;

    &-item {
      &:hover {
        background: grey;
      }

      &--selected {
        background: green;
      }
    }
  }

  &__interfaces {
    flex: 2;
    background: yellow;
    overflow-y: auto;
  }

  &__container {
    flex: 1;
    position: relative;
  }

  &__results {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__interface {
    &-container {
      width: 33%;
      display: inline-block;
      margin: 2rem;
    }

    background: red;
    width: 100%;
    padding-top: 50%;
    position: relative;
  }
}

// TODO: where should this live?
.screen--new-stage {
  .screen__content {
    overflow: hidden;
  }
}
