// sass-lint:disable no-ids

.start {
  margin: 0 auto;
  width: unit(70);
  transition-duration: var(--animation-duration-standard);
  transition-timing-function: var(--animation-easing);
  transition-property: opacity;
  will-change: opacity;

  #create-new-protocol-button,
  #open-existing-protocol-button {
    transition: transform var(--animation-duration-standard) var(--animation-easing);
    will-change: transform;
  }

  &__welcome {
    padding: 0 0 2.4rem;

    &-title,
    &-lead {
      color: var(--architect-panel-text);
    }

    &-title {
      font-size: 3.6rem;
      font-weight: bold;
      margin-bottom: unit(2);
    }

    &-lead {
      font-size: 1.65rem;
      font-weight: 400;
    }

  }

  &__call-to-action {
    padding: 0 0 unit(8);

    .button {
      margin: 0 unit(2) 0 0;
      padding: 1.8em;
      width: unit(30);
    }
  }

  &--hide {
    opacity: 0;

    #create-new-protocol-button {
      transform: translateX(-100%);
    }

    #open-existing-protocol-button {
      transform: translateX(100%);
    }
  }
}
