.stage-heading {
  display: flex;
  flex-direction: column;
  padding: unit(2) unit(8);
  margin: 0;

  &--inline {
    margin-bottom: unit(4);
  }

  &--shadow {
    box-shadow: 0 unit(1) .2rem 0 var(--architect-panel-shadow);
  }

  &--collapsed {
    flex-direction: row;
    padding: unit(1) unit(4);

    .stage-meta {
      width: initial;
      padding: 0;
      margin-right: unit(4);


      img {
        width: unit(10);

      }
    }

    .stage-name-container {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }

  &.stage-editor-section {
    > :last-child {
      margin-bottom: 0;
    }
  }

  .form-field-toggle__label,
  .form-fields-edge-select {
    --input-text: var(--color-white);
    color: var(--input-text);
  }

  .stage-meta {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    max-width: 75rem;
    padding: 0 unit(4);
    margin: auto;
    width: 100%;

    .stage-name-container {
      flex: 1;
      margin-left: 8rem;
    }

    .timeline-preview {
      position: relative;

      .timeline-stage__notch {
        left: 16rem;
      }

      &::before {
        mask-image: linear-gradient(180deg, transparent,  rgba(0, 0, 0, 1) 40%,  rgba(0, 0, 0, 1) 40%, transparent 100%); // sass-lint:disable-line no-color-literals
        -webkit-mask-image: linear-gradient(180deg, transparent,  rgba(0, 0, 0, 1) 40%,  rgba(0, 0, 0, 1) 40%, transparent 100%); // sass-lint:disable-line no-color-literals
        content: '';
        border-left: .5rem solid var(--architect-timeline-line);
        position: absolute;
        left: 15.8rem;
        height: 11rem;
        top: -1rem;
      }
    }


    img {
      display: block;
      background: var(--color-navy-taupe);
      padding: .5rem;
      width: 12rem;
      text-align: center;
      border-radius: .5rem;
    }
  }

  .stage-header-sections {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    padding: unit(2) unit(4);
    background: var(--color-slate-blue);
    color: var(--color-white);

    .stage-editor-section {
      background: transparent;
      margin: 0;
      padding: 0;
    }
  }
}

