$vertical-padding: .2em;

.tag {
  position: relative;
  display: inline-block;
  padding: $vertical-padding .5em;
  border-radius: 1em;
  background: white;
  // display: flex;
  width: auto;
  line-height: 1em;
  margin: 0 unit(.5) unit(.5) 0;

  &__reset {
    cursor: pointer;
    position: absolute;
    right: .5em;
    top: 0;
    border-radius: 1em;
    height: #{1em + $vertical-padding * 2};
    widht: #{1em + $vertical-padding * 2};
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 1.2em;
    }
  }

  &--selected {
    background: var(--architect-selected);
    color: var(--text-light);
  }

  &.tag--can-reset.tag--selected {
    padding-right: 2em;
  }
}
