.thumbnail {
  background-color: var(--background-dark);
  color: var(--text-light);
  // border-radius: unit(2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: unit(2);
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: var(--animation-duration-standard);
  transition-timing-function: var(--animation-easing);

  &__icon {
    flex: 0 0 25px;
    margin: 0 unit(2) 0 0;
  }

  &__label {
    overflow: hidden;
    overflow-wrap: break-word;
  }

  &--existing {
    background-color: var(--notice);
    font-style: italic;
  }
}
