@use '~@codaco/ui/src/styles/global/core/units';

.tip {
  background-color: var(--color-mid-grey);
  border-radius: var(--border-radius);
  padding: units.unit(.5) units.unit(4);
  margin: units.unit(2) 0;
  font-size: .9rem;
  display: flex;
  align-items: center;

  .icon {
    flex: 0 0 units.unit(4);
    height: units.unit(4);
    width: units.unit(4);
  }

  &__content {
    margin-left: units.unit(2);
  }

  &__info {
    background-color: rgb(15 178 226 / 14%);
  }

  &__warning {
    background-color: rgb(242 183 0 / 36%);
  }

  &__error {
    background-color: var(--error);
    color: var(--color-white);
  }
}

