// sass-lint:disable no-color-literals

.tip {
  background-color: var(--color-mid-grey);
  border-radius: var(--border-radius);
  padding: unit(.5) unit(4);
  margin: unit(2) 0;
  font-size: .9rem;
  display: flex;
  align-items: center;

  .icon {
    flex: 0 0 unit(4);
    height: unit(4);
    width: unit(4);
    margin-right: unit(2);
  }

  &__info {
    background-color: rgba(15, 178, 226, .14);
  }

  &__warning {
    background-color: rgba(242, 183, 0, .36);
  }

  &__error {
    background-color: var(--error);
    color: var(--color-white);
  }
}

