.type-editor {
  @include editor;
  @import './type-editor/icon-option';
  @import './type-editor/variable';

  .list {
    &__attribute {

      h3 {
        margin: 0;
      }

      &--icon {
        width: unit(6);

        .icon {
          width: unit(5);
          height: unit(5);
        }

        .node {
          font-size: 60px;
        }
      }

      &--options {
        width: unit(10);
      }
    }
  }
}
