.variable-registry {
  .list {
    &__attribute {
      &--icon {
        flex-grow: 0;

        .node {
          font-size: 60px;
        }
      }

      &--options {
        flex-grow: 0;
      }
    }
  }
}
