@use '~@codaco/ui/src/styles/global/core/units';

:root {
  --variable-pill-width: #{units.unit(55)};
  --variable-pill-background: var(--color-white);
  --variable-pill-shadow-color: var(--color-platinum--dark);
}

.variable-pill {
  width: var(--variable-pill-width);
  display: inline-flex;
  flex-wrap: nowrap;
  background-color: var(--variable-pill-background);
  border-radius: units.unit(4);
  overflow: hidden;
  box-shadow: 0 0 units.unit(1) var(--variable-pill-shadow-color);

  &--disabled {
    opacity: .35;
  }

  &__edit-tooltip {
    cursor: pointer;
    padding: units.unit(1);
    border-radius: var(--border-radius);
    display: flex;

    .icon {
      height: units.unit(2);
      width: units.unit(2);
    }
  }

  &__icon {
    background-color: var(--color-platinum);
    flex: 0 0 units.unit(6);

    .icon {
      width: units.unit(2.5);
      height: units.unit(2.5);
    }
  }

  &__icon,
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    flex: 1;
    width: calc(100% - #{units.unit(6)});
    height: units.unit(7);
    display: flex;
    justify-content: space-between;

    .label {
      cursor: text;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .form-field-container {
      margin-bottom: 0;
      flex: 1;

      .form-field-text,
      .form-field-text__input {
        background: transparent;
      }

      .form-field-text__input {
        padding-right: 5em;
        margin-bottom: 0;
      }
    }

    h4 {
      margin: 0;
      color: var(--text-dark);
      flex: 1 0 auto;
      padding: units.unit(1.5) units.unit(2);
      word-break: keep-all;
    }

    .edit-buttons {
      flex: 0 0 auto;
      display: flex;
      position: relative;
      right: 1rem;

      &__button {
        cursor: pointer;

        &--disabled {
          cursor: not-allowed;
          filter: grayscale(1);
        }

        .icon {
          width: units.unit(2.5);
          height: units.unit(2.5);
        }

        &--cancel {
          margin-left: units.unit(1);
        }
      }
    }
  }
}
