@use '@codaco/ui/src/styles/global/core/units';

.variable-spotlight {
  position: relative;
  margin-top: units.unit(12);
  width: 45rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--architect-panel-grey);
  color: var(--text);
  border-radius: var(--border-radius);
  box-shadow: 0 0 4rem var(--modal-window-box-shadow);
  z-index: var(--z-modal);

  &__empty {
    border-radius: var(--border-radius);
    flex: 1 100%;
    display: flex;
    align-items: center;
    padding: units.unit(2) units.unit(4);

    .icon {
      margin-right: units.unit(1);
      flex: 0 0 auto;

      &[name='info'] {
        .cls-3 {
          fill: var(--color-platinum--dark);
        }
      }

      &[name='warning'] {
        .cls-1 {
          fill: var(--color-platinum--dark);
        }
      }

    }
  }

  .divider-header {
    border-top: 2px solid var(--architect-panel-grey--dark);
    width: 100%;

    > legend {
      @extend .small-heading; // sass-lint:disable-line placeholder-in-extend

      text-align: center;
      color: var(--transparent--md);
      padding: units.unit(1) units.unit(2);
    }
  }

  &__header {
    flex: 0 0 units.unit(5);
    padding: units.unit(2) units.unit(4);

    .form-field,
    .form-field-container {
      margin-bottom: 0;
    }
  }

  &__list {
    flex-direction: column;
    flex: 1 auto;
    max-height: 60vh;
    overflow: hidden;
    padding-bottom: units.unit(1);

    ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

.spotlight-list-item {
  display: flex;
  justify-content: space-between;
  padding: units.unit(1) units.unit(4);
  align-items: center;

  .variable-pill {
    flex: 1 auto;
  }

  kbd {
    margin-left: units.unit(2);
    background: var(--color-platinum);
    padding: units.unit(.5) units.unit(1);
    border: 1px solid var(--color-charcoal);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--selected {
    --text: var(--color-white);
    --variable-pill-shadow-color: var(--color-sea-green--dark);

    background: var(--primary);
  }

  &--clickable {
    cursor: pointer;
  }

  &--disabled {
    cursor: not-allowed;
  }

  .create-new {
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: units.unit(1) units.unit(2);
    font-weight: 500;

    .icon {
      height: units.unit(3);
      margin-right: units.unit(2);


      .cls-1,
      .cls-2 {
        fill: var(--text);
      }

      &[name='warning'] {
        .cls-1,
        .cls-2 {
          fill: var(--warning);
        }

        .cls-3,
        .cls-4 {
          fill: var(--color-white);
        }
      }
    }
  }
}
