%content-item-control {
  font-size: unit(3);
  color: var(--text);
  width: unit(4);
  height: unit(4);
  border-radius: unit(4);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: grab;
}

.stage-editor-sortable-item {
  margin-top: unit(1);
  display: flex;

  &__handle {
    @extend %content-item-control;
    @include button-background(var(--background));
    margin-right: unit(1);
    flex: 0 0 unit(4);

    &::before {
      content: '\2195';
      color: white;
      display: block;
      position: relative;
      top: unit(0.2);
    }
  }

  &__content {
    flex: 1 1 100%;
  }

  &__delete {
    margin-left: unit(1);
    flex: 0 0 unit(4);
  }
}
