.stage-editor {
  width: 100%;
  position: relative;
  z-index: var(--z-default);
  transition: padding-top var(--animation-duration-standard) var(--animation-easing);

  &__reset {
    cursor: pointer;
  }

  &__code {
    position: fixed;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    z-index: var(--z-panel);
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    max-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: var(--settings);
    color: var(--text--light);
    padding: 20px;
    transition: opacity var(--animation-duration-standard) var(--animation-easing),
    max-height var(--animation-duration-standard) var(--animation-easing),
    transform var(--animation-duration-standard) var(--animation-easing);

    pre {
      white-space: pre-wrap;
    }
  }

  &.stage-editor--show-code {
    padding-top: 30vh;

    .stage-editor__code {
      opacity: 1;
      max-height: 30vh;
      transform: scaleY(1);
    }

    .guided-guidance {
      padding-top: calc(30vh);
    }
  }
}
