.stage-editor {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: var(--z-default);
  transition: padding-top var(--animation-duration-standard) var(--animation-easing);

  &__window {
    background: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    @include no-scrollbars;
    padding: unit(6) unit(6) unit(16);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }

  .issues {
    position: sticky;
    bottom: unit(8);
    left: 0;
  }
}
