@mixin editor {
  width: 100%;
  position: relative;
  z-index: var(--z-default);
  transition: padding-top var(--animation-duration-standard) var(--animation-easing);

  &__reset {
    cursor: pointer;
  }

  &__subsection {
    margin: unit(2) 0 0;
  }

  &__section {
    transition-property: opacity, transform, max-height;
    transition-duration: var(--animation-duration-standard);
    transition-timing-function: var(--animation-easing);

    opacity: 1;
    max-height: auto;
    transform: translateX(0);
    margin: unit(8) 0 0;

    &--disabled {
      opacity: 0;
      max-height: 0;
      transform: translateX(-100%);
    }
  }

  &--show-code {
    padding-top: 30vh;

    .code-view {
      opacity: 1;
      max-height: 30vh;
      transform: scaleY(1);
    }

    .guided-guidance {
      padding-top: calc(30vh);
    }
  }
}
