[submodule "src/ui"]
	path = src/ui
	url = https://github.com/codaco/Network-Canvas-UI.git
[submodule "src/network-canvas"]
	path = src/network-canvas
	url = https://github.com/codaco/Network-Canvas
[submodule "src/development-protocol"]
	path = src/development-protocol
	url = git@github.com:codaco/development-protocol.git
