.card {
  position: absolute;
  z-index: var(--z-modal);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--architect-card-background);
  color: var(--architect-card-text);
  transform: translateZ(0);

  &__container {
    @include flex-stack;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__control-bar,
  &__main {
    @include layout-container;
  }

  &__control-bar {
    @include flex-align(right, middle);
    z-index: 2;
    flex: 0 0 60px;
    background-color: var(--background);
    transform: translateZ(0) translateY(100%);
    transition: transform var(--animation-duration-fast) var(--animation-easing) var(--animation-duration-standard);
    padding: 0 unit(1);

    &--entering,
    &--entered {
      transform: translateZ(0) translateY(0);
    }

    button {
      margin-right: unit(1);
    }
  }

  &__content {
    @include no-scrollbars;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &--rules {
    background: var(--architect-card-background--rules);
    color: var(--architect-card-text--rules);
  }

  &--choice {
    background: var(--architect-card-background--choice);
    color: var(--architect-card-text--choice);
  }
}
