.edit-skip-logic {
  width: 100%;

  &__section,
  &__guidance {
    padding-top: 20px;
  }

  &__section {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 30px;
      display: 'block';
      width: 0;
      height: 20px;
      border-left: 8px solid var(--architect-rule-control);
    }

    &:first-child {
      &::before {
        display: none;
      }
    }
  }

  &__bubble {
    background: var(--architect-intent-border);
    border-radius: 10px;
    padding: 20px;
  }

  &__action {
    @include flex-inline;
    background: var(--architect-rule-operator);
    border-radius: 10px;
    padding: 20px;
  }
}
