.new-stage {

  &__options {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 20px;
  }

  &__option {
    padding: 20px;
    display: flex;
    flex-direction: row;
    border: 2px solid transparent;
    cursor: pointer;

    &-preview {
      width: 300px;

      img {
        width: 300px;
      }
    }

    &-details {
      padding-left: 20px;
    }

    &__heading {
      padding: 0;
    }

    &:hover {
      border-color: var(--selected);
    }
  }
}
