.protocol {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity var(--animation-duration-fast) var(--animation-easing);

  &__control-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(50px + #{unit(2)}); // height of button plus padding
    padding: unit(1) unit(3);
    background-color: var(--architect-control-bar-background);
    transform: translateZ(0) translateY(100%);
    transition: transform var(--animation-easing) var(--animation-duration-fast);

    .button {
      margin-right: unit(2);
    }
  }

  &--has-changes {
    .protocol__control-bar {
      transform: translateZ(0) translateY(0);
    }
  }

  &.route-enter {
    .timeline__background {
      transform: translateY(-100%) rotate(180deg);
      will-change: transform;
    }

    .timeline__content {
      &::before {
        will-change: transform;
        transform: translateY(100vh);
      }
    }

    .timeline__stages {
      will-change: opacity;
      opacity: 0;
    }

    .timeline-overview__panel {
      will-change: opacity, box-shadow;
      opacity: 0;
      box-shadow: 0 0 0 0 var(--color-shadow);
    }
  }

  &.route-enter-active,
  &.route-enter-done {
    opacity: 1;

    .timeline__background {
      transform: translateY(0) rotate(180deg);
    }

    .timeline__content {
      &::before {
        transform: translateY(0);
      }
    }

    .timeline__stages {
      transition: opacity var(--animation-duration-standard) var(--animation-easing);
      opacity: 1;
    }

    .timeline-overview__panel {
      transition: opacity 0s 950ms,
      box-shadow 300ms 950ms;
      opacity: 1;
      box-shadow: unit(1) unit(1) 0 0 var(--color-shadow);
    }
  }

  &.route-exit {
    opacity: 1;

    .timeline__background {
      transition: transform var(--animation-duration-fast) var(--animation-easing);
      transform: translateY(0) rotate(180deg);
    }
  }

  &.route-exit-active,
  &.route-exit-done {
    opacity: 0;

    .timeline__background {
      transform: translateY(-100%) rotate(180deg);
    }
  }
}
