.protocol {
  position: relative;
  flex: 1 1 auto;

  &__control-bar {
    @include layout-container;
    @include flex-inline;
    @include flex-align(flex-start, center);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    flex: 0 0 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: palette('background');
    transform: translateZ(0) translateY(100%);
    transition: transform $animation-default-easing $animation-fast-duration;
  }

  &--has-changes {
    .protocol__control-bar {
      transform: translateZ(0) translateY(0);
    }
  }
}
