.start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: unit(6);
  transition: opacity var(--animation-duration-fast) var(--animation-easing);
  position: absolute;
  top: 0;
  left: 0;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../images/background-wave.svg');
    background-position: 0% 100%;
    transition: transform var(--animation-duration-slow) var(--animation-easing);
    transform: scale3d(1,1,1) translateY(0%);
  }

  &__split {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

    &:first-child {
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  &__brand {
    position: absolute;
    top: unit(2);
    right: unit(3);
    width: unit(15);
    height: unit(5);
  }

  &__hero {
    width: 50vw;
    margin: 0 auto;
    padding: unit(6) 0 unit(6) unit(14);

    flex-direction: column;
  }

  &__welcome {
    &-title, &-lead {
      color: var(--panel-text);
    }

    &-title {
      @include typography('title-1', font-size);
    }

    &-lead {
      @include typography('title-2', font-size);
    }
  }

  &__call-to-action > * {
    margin: unit(1) unit(2) 0 0;
  }

  &__protocols {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    padding: unit(3);
    border-radius: unit(1);
    background-color: var(--light-background);
    display: flex;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, .1);

    &-protocol {
      flex: 0 0 33%;
      padding: unit(2);
    }
  }

  &.route-enter {
    opacity: 0;

    .start__background {
      transform: translateY(100%);
    }
  }

  &.route-enter-active,
  &.route-enter-done {
    opacity: 1;

    .start__background {
      transform: translateY(0);
    }
  }

  &.route-exit {
    opacity: 0;

    .start__background {
      transform: translateY(0);
    }
  }

  &.route-exit-active,
  &.route-exit-done {
    opacity: 0;

    .start__background {
      transform: translateY(100%);
    }
  }
}
