.timeline-stage {
  @include vertical-rail;
  padding: 40px 0;

  &__preview {
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    transition: border-color var(--animation-easing) var(--animation-duration-fast-ms);
    cursor: pointer;
    width: 45vw;
    margin: 0 auto;

    &-image {
      width: 100%;
      min-height: 50px;
    }

    &:hover {
      border-color: palette('intent');
    }
  }
}
