.timeline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__main {
    @include no-scrollbars;
    overflow-y: scroll;
    background-color: palette('panel-background');
    transform: translateZ(0);
    flex: 1 1 auto;
  }

  &__control-bar {
    @include layout-container;
    @include flex-inline;
    @include flex-align(flex-start, center);
    flex: 0 0 60px;
    background-color: palette('background');
  }

}
