$component-name: timeline-add-new;

.#{$component-name} {
  @include vertical-rail;
  padding: 40px 0 80px;
  text-align: center;

  &__button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    transform: translateZ(0) scale(.75);
    transition: background-color var(--animation-easing) var(--animation-duration-fast-ms), transform var(--animation-easing) var(--animation-duration-fast-ms);
    padding: 15px 60px;
    border: 0;

    &-label {
      transition: opacity var(--animation-easing) var(--animation-duration-fast-ms);
      opacity: 0;
      color: palette('text');
    }

    &-icon {
      transform: translateX(6px);
      width: 80px !important;  // why is the default difficult to override?
      height: 80px !important;
    }

    &:hover {
      background-color: palette('background');
      transform: translateZ(0) scale(1);

      .#{$component-name}__button-label {
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &:last-child {
    &::after {
      height: 50%;
    }
  }

}
