%content-item-control {
  font-size: 1.75rem;
  color: palette('text');
  width: unit(5);
  height: unit(5);
  border-radius: unit(5);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: grab;
}

.content-item {
  margin-top: unit(1);
  display: flex;

  &__handle {
    @extend %content-item-control;

  @include button-background(palette('background'));
    margin-right: unit(1);
    flex: 0 0 auto;
  }

  &__content {
    flex: 1 0 auto;
  }

  &__delete {
    @extend %content-item-control;
    @include button-background(palette('dark-background'));
    margin-left: unit(1);
    flex: 0 0 auto;
    cursor: pointer;

    .icon {
      width: 60%;
      height: 60%;
    }
  }
}
