$stage-height: (9 / 16) * 100%;
$stage-columns: 3;
$stage-gap: unit(4);
$stage-width: calc(#{100% / $stage-columns} - #{($stage-columns - 1) * $stage-gap / $stage-columns});
$component-name: timeline-insert-stage;

.#{$component-name} {
  background-color: var(--architect-drawer-background);
  color: var(--architect-drawer-text);
  transform-origin: top;
  width: 100%;
  position: relative;
  overflow: hidden;

  &__close {
    @include typography('copy-small');
    background: var(--architect-ui-button);
    padding: unit(1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--architect-ui-button-text);
    cursor: pointer;
  }

  &__container {
    height: 60vh;
    display: flex;
  }

  &__guidance {
    flex: 0 0 40%;
    position: relative;
    z-index: 2;
    background-color: var(--architect-drawer-background--guidance);

    &-item,
    &-introduction {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: unit(4);
      transition: opacity var(--animation-duration-standard) var(--animation-easing);
      opacity: 0;

      &--is-active {
        transition: opacity var(--animation-duration-fast) var(--animation-easing);
        opacity: 1;
      }
    }

    &-introduction {
      opacity: 1;
    }

    &--is-active {
      .timeline-insert-stage__guidance-introduction {
        opacity: 0;
      }
    }
  }

  &__chooser {
    flex: 0 0 60%;
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;

    &-controls {
      flex: 0 0 7vh;
      padding: unit(2) unit(4);
      position: relative;
      background-color: var(--architect-drawer-background);
      box-shadow: 0 1px 5px 2px var(--architect-control-bar-shadow);
      z-index: 2;
    }

    &-options {
      flex: 0 1 auto;
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

    }
  }

  &__filter {
    display: flex;
    color: var(--architect-drawer-text);

    input {
      color: var(--architect-drawer-text);
    }

    &-option {
      h4 {
        font-family: var(--body-font-family);
        margin-bottom: unit(1);
      }
    }

    &-option--last {
      flex: 1 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &-reset {
      text-decoration: underline;
      font-family: var(--body-font-family);
      margin-bottom: unit(1);
      cursor: pointer;
    }
  }

  &__options {
    display: grid;
    padding: unit(4);
    grid-template-columns: repeat($stage-columns, $stage-width);
    grid-gap: $stage-gap;
    grid-auto-rows: minmax(100px, auto);
  }

  &__option {
    cursor: pointer;

    &-preview,
    &-description {
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    &-description {
      height: 100%;
    }

    &-screen {
      height: 0;
      padding-bottom: $stage-height;
      border: 2px solid transparent;
      overflow: hidden;
      transition: border-color var(--animation-duration-standard) var(--animation-easing);
      position: relative;
      background-color: var(--architect-drawer-background--guidance);
    }

    &:hover {
      .#{$component-name}__option-screen {
        border-color: var(--architect-intent);
      }
    }
  }
}
