.timeline-overview {
  margin: 0 auto;
  width: 75vw;

  &__panel {
    background-color: var(--architect-panel-background);
    color: var(--architect-panel-text);
    margin: 0 auto;
    width: 75vw;
    min-height: 80vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: unit(1) unit(1) 0 0 var(--architect-panel-shadow);
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1 1 100%;
  }

  &__name {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;

    input {
      @include typography('title-1', font-size);
      @include typography('title-1', font-family);
      @include typography('title-1', font-weight);
      text-align: center;
    }
  }

  &__asset-group {
    display: block;
    margin: unit(1) 0;
  }

  &__asset {
    max-height: 100px;
    display: inline-block;
    margin: 0 unit(.5) 0;
  }

  &__badge {
    display: inline-block;
    margin: unit(1) 0;
    @include typography('body-small');
    background: var(--color-mustard);
    padding: unit(1);
    border-radius: unit(1);
  }

  &__groups {
    display: grid;
    grid-gap: unit(2);
    height: 73vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &__group {
    margin: 0 0 unit(2);
    border: 1px solid var(--architect-panel-divider);
    padding: unit(2);
    border-radius:  unit(1);
    text-align: left;
  }

  &__group-title {
    text-align: center;
    margin-bottom: unit(3);
  }

  &.tween-protocol {
    $transition-before: 500ms;
    $transition-after: 300ms;
    $transition-duration: 500ms;
    $transition-easing: cubic-bezier(.25, .1, .25, 1);
    will-change: transform, opacity;
    transform: translateZ(0);
    transition: opacity $transition-after $transition-easing;

    .timeline-overview__content {
      transition: opacity $transition-before $transition-easing;
    }

    .timeline-overview__panel {
      will-change: transform;
      transform: translateZ(0);
      transition: border-radius $transition-duration $transition-easing,
      transform $transition-duration $transition-easing;
    }

    &-before {
      .timeline-overview__content {
        opacity: 0;
      }
    }

    &-active {
      opacity: .8;

      .timeline-overview__panel {
        border-radius: unit(3);
        transform: translate(unit(-4), unit(4));
      }
    }

    &-after {
      opacity: 0;

      .timeline-overview__panel {
        transform: translate(unit(-4), unit(4)), scale(0, 0);
      }
    }

  }
}
