@use '~@codaco/ui/src/styles/global/core/units';

$component-name: app;


.electron-titlebar {
  display: block;
  visibility: visible;
  position: absolute;
  z-index: var(--z-chrome);
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  height: units.unit(2.5);
  width: 100%;
  -webkit-app-region: drag;
}

.app {
  background: var(--background);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.screens-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
