$component-name: app;

.#{$component-name} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  background-position: 0% 100px;
  background-image: url('../images/background-wave.svg');

  &__home {
    z-index: 1000;
    position: absolute;
    width: unit(12);
    height: unit(12);
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: top var(--animation-duration-fast) var(--animation-easing),
      left var(--animation-duration-fast) var(--animation-easing),
      transform var(--animation-duration-fast) var(--animation-easing);

    &.active {
      pointer-events: none;
    }
  }

  &--start {
    background-position: 0% 0%;

    .#{$component-name}__home {
      top: 50%;
      left: 50%;
      transform: translate(-25vw, unit(-20));
    }
  }
}
