$component-name: app;

.#{$component-name} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--architect-background);

  &__electron-titlebar {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: var(--z-global-ui);
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    width: 100%;
    -webkit-app-region: drag;
  }

  &__home {
    z-index: var(--z-global-ui);
    position: absolute;
    width: unit(12);
    height: unit(12);
    top: 50%;
    left: 50%;
    transform: translate(calc(-50vw + #{unit(2)}), calc(-50vh + #{unit(2)})) scale(.67, .67);
    cursor: pointer;
    transition: transform var(--animation-duration-fast) var(--animation-easing);

    &.active {
      pointer-events: none;
    }
  }

  &--start {
    .#{$component-name}__home {
      top: 50%;
      left: 50%;
      transform: translate(-25vw, unit(-28));
    }
  }
}
