$component-name: app;

.#{$component-name} {
  &__electron-titlebar {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: var(--z-chrome);
    background: var(--architect-titlebar);
    top: 0;
    left: 0;
    right: 0;
    height: unit(2.5);
    width: 100%;
    -webkit-app-region: drag;
  }

  &__home {
    z-index: var(--z-global-ui);
    position: absolute;
    width: unit(15);
    height: unit(15);
    top: 50%;
    left: 50%;
    transform: translate(calc(-50vw + #{unit(2)}), calc(-50vh + #{unit(2)})) scale(.67, .67);
    cursor: pointer;
    transition: transform var(--animation-duration-standard) var(--animation-easing);

    &.active {
      pointer-events: none;
    }
  }

  &__window {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--architect-background);
  }

  &--start {
    .#{$component-name}__home {
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-19.5vw, -25.1rem);
    }
  }

  &--macos {
    .#{$component-name}__window {
      top: unit(2.5);
      height: calc(100% - #{unit(2.5)});
    }
  }
}
