:root {
  --text: var(--color-charcoal);
  --input-label: var(--color-charcoal);
  --input-placeholder: #{transparentize(rgb(0, 0, 0), .65)};
}

.node__label-text {
  color: var(--node--label);
}

a {
  text-decoration: none;
}

.button {
  color: var(--text-light);

  &:disabled,
  &[disabled] {
    opacity: .5;
    cursor: default;
  }

  &--white,
  &--platinum,
  &--platinum--dark {
    color: var(--text-dark);
  }
}

// TODO: why is this broken (ui)?
.form-field-checkbox,
.form-field-radio {
  font-size: 0;

  &__label {
    font-size: 1rem;
  }

  &__input {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.form-fields-textarea__error {
  max-height: initial;
  opacity: 1;
  margin: unit(1) 0 0;
  color: var(--error);
}

.form-field-checkbox-group__error,
.form-field-radio-group__error {
  color: var(--text-light);
}

.form-field-checkbox--disabled {
  font-style: italic;
  opacity: .75;
  cursor: not-allowed;
}

.form-field-toggle__button {
  background: var(--color-platinum--dark);
}

.dialog {
  .migration-panel {
    background: var(--color-navy-taupe);
    padding: 0 unit(2);
    border-radius: .75rem;
    overflow-y: auto;
    max-height: 18rem;

    code {
      background: var(--color-paradise-pink);
      padding: .1rem .25rem;
      border-radius: .2rem;
    }

    li {
      margin-bottom: 1rem;
      line-height: 1.5;
    }
  }
}

.dialog__additional-box {
  background-color: var(--background-dark);
}

.modal {
  height: 100vh;
}
