%wave {
  will-change: transform;
  background-position: 0 0;
  background-color: var(--architect-wave);
  background-image: url('../images/background-texture.svg');
  background-repeat: repeat;
  background-size: 100rem;
  clip-path: url('#wave');
}
