@mixin vertical-rail {
  position: relative;
  width: 100%;

  &::after {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    border-left-width: 6px;
    border-left-color: var(--architect-time-line);
    border-left-style: solid;
    height: 100%;
    z-index: -1;
  }
}

%wave {
  will-change: transform;
  background-position: 0px 0px;
  background-color: var(--architect-wave);
  background-image: url('../images/background-texture.svg');
  background-repeat: repeat;
  background-size: unit(90);
  clip-path: url('#wave');
}
