@mixin vertical-rail {
  position: relative;
  width: 100%;

  &::after {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    border-left-width: 6px;
    border-left-color: var(--architect-time-line);
    border-left-style: solid;
    height: 100%;
    z-index: -1;
  }
}
