// Remove touch and focus outlines
// sass-lint:disable no-vendor-prefixes, no-ids

$base-font-size: 14px;

:root {
  --base-font-size: #{$base-font-size};
  --body-font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  outline-style: none;
  -webkit-touch-callout: none;

  &:focus {
    outline: none;
   }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  width: 100%;
  height: 100%;
  font-family: var(--body-font-family);
  color: var(--text);
  background: var(--background);
  cursor: default;
}

#root {
  position: relative;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#preload {
  // TODO: JS remove/display none
  animation-duration: var(--animation-duration-standard);
  // animation-name: fadeout;
  animation-fill-mode: forwards;
}

.button--small {
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

// Override UI toast style for now (make wider)
.toast-container-list {
  align-items: flex-end;
}

.toast {
  .toast-button-group {
    display: flex;
    justify-content: flex-end;

    button {
      &:not(:last-child) {
        margin-right: unit(1);
      }
    }
  }
}

.update-available-toast {
  width: 50rem;
}

// Dialog override
.dialog {
  --text: var(--color-white);
}

.dialog-release-notes {
  &__notes {
    max-height: 50vh;
    overflow-y: auto;
    background: var(--color-navy-taupe);
    padding: 0 1.2rem;
    border-radius: var(--border-radius);
  }
}

.boolean-option {
  background: var(--architect-panel-grey);
  margin-right: unit(2);
}
