// Remove touch and focus outlines
// sass-lint:disable no-vendor-prefixes, no-ids

* {
  outline-style: none;
  -webkit-touch-callout: none;

  &:focus {
    outline: none;
   }
}

html,
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  user-select: none;
  width: 100%;
  height: 100%;
  font-family: var(--body-font-family);
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

.button--small {
  padding: 1em;
  margin: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
