// sass-lint:disable no-color-literals

:root {
  --color-shadow: rgb(0 0 0 / 15%);
  --modal-overlay: rgb(0 0 0 / 50%);
  --color-mid-grey: rgb(128 128 128);
  --text-light-muted: rgb(255 255 255 / 50%);

  // UI overwrites
  --background: var(--color-platinum);
  --text: var(--color-charcoal);
  --input-background: var(--color-white);
  --input-label: var(--color-charcoal);
  --text-light: var(--color-white); // actually this one is new
  --text-dark: var(--color-charcoal);
  --ring--background: var(--color-navy-taupe);
  --node-outer-trim-stroke: var(--color-mustard);
  --input-panel-bg: var(--color-white);

  // App Chrome
  --background-dark: var(--color-navy-taupe);
  --background-light: var(--color-white);
  --background-alt: var(--color-platinum);
  --architect-wave: var(--color-sea-green);
  --architect-control-bar-shadow: rgb(20 0 0 / 30%);
  --architect-titlebar: var(--color-sea-green--dark);

  // Errors
  --architect-error-background: var(--color-cyber-grape);
  --architect-error-code-background: var(--color-navy-taupe);
  --architect-warning: var(--color-tomato);
  --architect-media-background: var(--color-rich-black);

  // App-wide
  --architect-row-background: rgb(242 246 247 / 50%);
  --architect-background: var(--color-white);
  --architect-text: var(--color-charcoal);
  --architect-shadow: var(--color-shadow);
  --architect-divider: var(--color-platinum);
  --architect-selected: var(--color-sea-green);
  --architect-active: var(--color-sea-green);
  --architect-panel-grey: var(--color-platinum);
  --architect-panel-grey--dark: #e9eeef;

  // Control bar
  --architect-control-bar-background: var(--color-cyber-grape);
  --architect-control-bar-text: var(--color-white);

  // forms
  --form-control: var(--color-sea-serpent);

  // dialog
  --architect-dialog-background: var(--color-platinum);
  --architect-dialog-background--dark: var(--color-platinum--dark);

  // sortable, rename?
  --architect-sortable-text: var(--color-white);
  --architect-sortable-background: var(--color-slate-blue);
  --architect-sortable-preview-background: var(--color-slate-blue);
  --architect-sortable-preview-background--alt: var(--color-slate-blue--dark);

  // Modal
  --architect-modal-shadow: var(--modal-overlay);

  // Logic screen
  --architect-logic-background: var(--color-mustard);
  --architect-logic-text: var(--color-white);

  // TODO: review below
  --architect-edit-button-background: var(--primary);
  --architect-edit-button-fill: var(--color-white);
  --architect-ui-button: var(--color-sea-green);
  --architect-ui-button-text: var(--color-white);
  --architect-ui-radio-border: var(--color-cyber-grape);
  --architect-ui-radio-dot: var(--color-sea-green);
  --architect-button-background--dark: var(--color-navy-taupe);
  --architect-button-background--dark--hover: var(--color-cyber-grape);
  --architect-drawer-background: var(--color-platinum);
  --architect-panel-background: var(--color-platinum);
  --architect-panel-shadow: var(--color-shadow);
  --architect-panel-text: var(--color-charcoal);
  --architect-panel-divider: var(--color-platinum--dark);
  --architect-border: var(--color-platinum--dark);
  --architect-input-placeholder: var(--color-platinum);
  --architect-input-focus: var(--color-sea-green);
  --architect-intent--inactive: var(--color-charcoal);
  --architect-intent: var(--color-mustard);
  --architect-intent-border: var(--color-mustard--dark);
  --architect-timeline-highlight: rgb(216 216 216 / 20%);
  --architect-timeline-line: var(--color-neon-coral);
  --architect-timeline-screen: var(--color-navy-taupe);

  // rules
  --architect-rules-type: var(--color-neon-coral);
  --architect-rules-assert: var(--color-sea-green);

  // content item types
  --architect-variant--1: var(--color-slate-blue--dark);
  --architect-variant--2: var(--color-mustard--dark);
  --architect-variant--3: var(--color-sea-green);
  --architect-variant--4: var(--color-sea-green--dark);
  --architect-asset-background: var(--color-charcoal);

  .form-field-slider {
    --slider-color: var(--color-platinum--dark);
    --tooltip-color: var(--color-navy-taupe);
    --tooltip-label: var(--color-white);
  }

  .rich-text {
    --blockquote-border-color: var(--transparent-md);
  }
}
