$font-path: '../ui/assets/fonts';
@import '../ui/styles/all';
@import './settings';
@import './hotfix';
@import './ui';
@import './theme';
@import './helpers';
@import './mixins';
@import './reset';
@import './app';

// CSS modules
// TBC

@import './components';

.network-canvas {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
