$card-shadow: 0 0 10px rgba(0, 0, 0, .1);
$component-name: start-protocol-card;

.#{$component-name} {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &__preview {
    height: 22vh;
    width: 22vh;
    margin: 0 auto unit(3) auto;
    position: relative;
    box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, .15);

    &-cover {
      position: absolute;
      background: var(--architect-panel-background);
      border-radius: unit(1);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      transform: translate(unit(-1), unit(1));
      box-shadow: $card-shadow;

      img {
        max-width: 100%;
        border-radius: unit(1);
      }
    }

    &::after,
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      content: '';
      display: block;
      background: var(--architect-panel-background);
      border-radius: unit(1);
      width: 100%;
      height: 100%;
      opacity: 0.5;
      box-shadow: $card-shadow;
    }

    &::after {
      transform: translate(unit(1), unit(-1));
      box-shadow: none;
    }
  }

  &__name {
    @include typography('title-3');
    font-weight: bold;
    margin: unit(1) 0 0;
    text-align: center;
    color: var(--text);
  }

  &__path {
    @include typography('copy-small');
    margin: unit(.5) 0 0;
    text-align: center;
    color: var(--text);
  }

  &.tween-protocol {
    $transition-before: 500ms;
    $transition-after: 300ms;
    $transition-duration: 500ms;
    $transition-easing: cubic-bezier(.25, .1, .25, 1);
    will-change: transform;
    transform: translateZ(0);

    transition: opacity $transition-after $transition-easing;

    .#{$component-name}__preview {
      transition: width $transition-duration $transition-easing,
        height $transition-duration $transition-easing;

      &-cover {
        transition: transform $transition-duration $transition-easing;
      }

      img {
        transition: opacity $transition-before $transition-easing;
      }

      &::before, &::after {
        transition: transform $transition-before $transition-easing;
      }
    }

    &-before {
      .#{$component-name}__name, .#{$component-name}__path {
        visibility: hidden;
      }

      .#{$component-name}__preview {
        box-shadow: unset;

        &-cover {
          box-shadow: unset;
        }

        img {
          opacity: 0;
        }

        &::before, &::after {
          transform: translate(unit(-1), unit(1));
        }
      }
    }

    &-active {
      .#{$component-name}__preview {
        width: 100%;
        height: 100%;

        &-cover {
          transform: translate(0, 0);
        }

        &::before, &::after {
          display: none;
        }
      }
    }

    &-after {
      opacity: 0;
    }

  }
}
