$component-name: form-fields-audio;

.#{$component-name} {
  &__preview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    audio {
      width: 100%;
    }
  }

  &.form-fields-file--complete {
    .form-dropzone {
      position: static !important; // sass-lint:disable-line no-important
      transform: translateY(0);
      opacity: 1;
      border-bottom: 0;
    }
  }
}
