.form-fields-file {
  @include form-field;
  display: block;
  overflow: hidden;
  position: relative;

  &__preview {
    position: relative;
    overflow: hidden;
    display: none;
  }

  &--replace {
    .form-fields-file__preview {
      display: block;
    }
  }

  &--has-error {
    .form-fields-file__error {
      opacity: 1;
      max-height: 50px;
    }
  }
}
