.form-fields-file {
  @include form-field;
  display: block;
  overflow: hidden;
  position: relative;

  &__preview {
    position: relative;
    overflow: hidden;
    display: none;
  }

  &__browse {
    margin: unit(2) 0 0;
  }

  &--replace {
    .form-fields-file__preview {
      display: block;
    }
  }
}
