$component-name: form-fields-image;

.#{$component-name} {
  max-width: 100%;
  background: var(--architect-panel-background);

  &__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 30vh;
  }
}
