.input-preview {
  display: flex;
  padding: units.unit(2);
  border-radius: var(--border-radius);
  background: var(--color-platinum);

  &__description {
    flex: 0 0 50%;
    padding-left: units.unit(4);
  }

  &__image {
    flex: 0 0 50%;

    img {
      width: 100%;
    }
  }

}
