.form-fields-markdown {
  @include form-field;

  width: 100%;
  margin-bottom: 2rem;

  &__edit {
    display: flex;
    cursor: text;
    background: var(--background);
    color: var(--text);
    border-radius: units.unit(1);
  }

  &__input {
    @include preset('copy-standard');

    background-color: var(--input-background);
    border: 0;
    width: 100%;
    min-height: units.unit(8);
    vertical-align: top;
    resize: none;
    overflow: hidden;

    &-container {
      background-color: var(--input-background);
      padding: units.unit(1);
      flex: 1 0 50%;
      border-radius: 0 units.unit(1) units.unit(1) 0;
    }
  }

  &__preview {
    @include preset('copy-standard');

    flex: 1 0 50%;
    padding: units.unit(1);
    transition: width 200ms;
    vertical-align: top;
  }

  &__error {
    opacity: 0;
    max-height: 0;
    color: var(--error);
    margin: units.unit(1) 0 0;
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
  }

  &--has-error {
    .form-fields-markdown__error {
      opacity: 1;
      max-height: 50px;
    }
  }
}
