$component-name: 'form-fields-multi-select';

.#{$component-name} {
  --form-control: var(--color-platinum--dark);
  display: block;

  &__label {
    @include preset('title-4');
    font-weight: 600;
    display: block;
    margin: 0 0 unit(1);
  }

  button {
    margin: 0;
  }

  &__rules {
    margin: 0 0 unit(1);
  }

  &__rule {
    margin: unit(1) 0 0;
    display: flex;
    background-color: var(--form-control);
    border-radius: unit(1);
    z-index: var(--z-fx);
    transition: background-color var(--animation-easing) var(--animation-duration-standard);

    &-control {
      flex-grow: 0;
      display: flex;
      align-items: center;
      padding: 0 unit(2);
    }

    &-options {
      flex-grow: 1;
      display: flex;
      padding: unit(1) unit(2);
    }

    &-option {
      flex-basis: initial;
      display: flex;
      align-items: center;
      margin-left: unit(1);
      flex-grow: 1;

      &:first-child {
        margin-left: 0;
      }

      &-label {
        margin-right: unit(1);
      }

      .form-field-container {
        margin: 0;
        width: 100%;

        .form-field {
          margin: 0;
        }
      }
    }
  }

  &__delete,
  &__add,
  &__handle {
    cursor: pointer;
    background-color: var(--form-control);
    width: unit(3);
    height: unit(3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--architect-sortable-text);

    .icon {
      width: unit(1.5);
      height: unit(1.5);

      .cls-1,
      .cls-2 {
        fill: var(--architect-sortable-text);
      }
    }
  }

  &__add {
    display: inline-flex;
    width: auto;
    height: unit(4);
    border-radius: unit(2);
    padding: 0 unit(2);

    .icon {
      width: unit(2);
      height: unit(2);
      margin-right: unit(1);
    }
  }

  &__field--has-error {
    .form-field-error {
      margin: unit(1) 0;
      border-radius: unit(1);
    }

    .#{$component-name}__rule {
      background-color: var(--error);
    }

    .#{$component-name}__delete {
      background-color: transparent;
      filter: brightness(100);
    }
  }

}
