@use '~@codaco/ui/src/styles/global/core/units';

.form-fields-select-native {
  &--disabled {
    cursor: not-allowed;
  }

  &__wrapper {
    flex: 1;
  }

  &__new-section {
    background: var(--architect-panel-grey);
    padding: 1.2rem;
    border-radius: var(--border-radius);

    .button-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .button {
        min-width: 10rem;
        margin-right: 1rem;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &__error {
    opacity: 0;
    background: var(--error);
    color: var(--form-error-text);
    padding: .5rem .25rem;
    display: flex;
    align-items: center;

    svg {
      max-height: 1.2rem;
    }
  }

  &__component {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: var(--input-text);
    padding: 1rem units.unit(2);
    width: 100%;
    min-height: 4rem;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 2rem;
    border: 0;
    box-shadow: unset;
    border-radius: 1rem 1rem 0 0;
    appearance: none;
    background-color: var(--input-background);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%236D6F76%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right units.unit(4) top 50%, 0 0;
    background-size: units.unit(1.5) auto, 100%;

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
      box-shadow: unset;
    }

    option {
      // Placeholder
      &:disabled {
        font-style: italic;
        color: var(--color-platinum--dark);
      }
    }
  }

    &--has-error {
    .form-fields-select-native__component {
      border: .1rem solid var(--error);
      margin-bottom: 0;
    }

    .form-fields-select-native__error {
      opacity: 1;
    }
  }
}
