.form-fields-node-select {
  background: none;
  display: block;
  padding: 0;
  margin-bottom: 1rem;

  .node-type {
    display: inline-block;
    margin-right: unit(2);

    .node {
      font-size: 7rem;
    }
  }
}
