.form-fields-node-select {
  background: none;
  display: block;
  padding: 0;

  .node-type {
    display: inline-block;
    margin-right: unit(2);

    .node {
      --base-node-size: 7rem;
    }
  }
}
