$component-name: form-fields-radio-group;

.#{$component-name} {
  display: block;

  &__option {
    display: inline-block;
    margin: 0 unit(2) unit(2) 0;
    cursor: pointer;

    &-input {
      display: none;
    }

    &-radio {
      position: relative;
      width: $size;
      height: $size;
      display: inline-block;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border-color: var(--color-navy-taupe);
        border-width: $border;
        border-style: solid;
        transition: border-color var(--animation-easing) var(--animation-duration-fast);
      }

      &::after {
        position: absolute;
        top: $border + $border-space;
        left: $border + $border-space;
        content: '';
        width: calc(100% - #{($border + $border-space) * 2});
        height: calc(100% - #{($border + $border-space) * 2});
        border-radius: 100%;
        background-color: var(--color-sea-green);
        opacity: 0;
        transition: opacity var(--animation-easing) var(--animation-duration-fast);
      }
    }

    &-label {
      display: inline-block;
      margin-left: unit(1);
      vertical-align: top;
      line-height: $size;
    }

    &:hover &-radio::before {
      border-color: var(--color-sea-green);
    }

    &-input:checked + &-radio {
      &::before {
        border-color: var(--color-sea-green);
      }

      &::after {
        opacity: 1;
      }
    }
  }
}
