.select-item {
  &__image {
    margin: 1rem;

    &--image {
      width: 30%;
      text-align: center;

      img {
        max-width: 100%;
        margin-bottom: .5rem;
      }

      h4 {
        margin: 0;
      }
    }

    &--description {
      width: 70%;
    }


  }


}
