.form-fields-select {
  @include form-field;
  width: 100%;
  font-size: var(--base-font-size);

  option {
    width: 100%;
    font-size: var(--base-font-size);
  }

  &__error {
    margin: unit(1) 0 0;
    color: var(--error);
  }

  &__label {
    @include preset('title-4');
    font-weight: 600;
  }
}
