$component-name: form-fields-textarea;

.#{$component-name} {
  @include form-field;

  width: 100%;

  &__label {
    @include preset('title-4');

    font-weight: 600;
  }

  &__input {
    @include preset('copy-large');

    border: units.unit(.2) solid var(--architect-panel-background);
    padding: units.unit(1);
    min-height: units.unit(8);
    width: 100%;
    vertical-align: top;
    resize: vertical;
  }
}
