$component-name: form-fields-textarea;

.#{$component-name} {
  @include form-field;
  width: 100%;

  &__input {
    @include preset('copy-large');
    border: unit(.2) solid var(--architect-panel-background);
    padding: unit(1);
    min-height: unit(8);
    width: 100%;
    vertical-align: top;
    resize: vertical;
  }
}
