$component-name: form-fields-variable-picker;

.#{$component-name} {
  display: flex;
  justify-content: center;
  align-items: center;

  fieldset {
    background: var(--section-background-color);
    flex: 1;
    border: 1px solid var(--text);
    padding: unit(2);
    border-radius: var(--border-radius);

    > legend {
      @extend .small-heading; // sass-lint:disable-line placeholder-in-extend
      padding: 0 unit(2);
    }

    .variable-pill {
      max-width: 35rem;
      margin-bottom: unit(2);
      background-color: var(--color-white);
    }
  }

  &__error {
    color: var(--error);
    margin-bottom: 0;
  }
}
