.form-fields-variable-chooser {
  margin: unit(2) 0 0;

  &__label {
    @include preset('title-4');
    font-weight: 600;
    margin: 0 0 unit(1);
  }

  &__variables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__variable {
    @include typography('copy-small', font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--architect-variant--1);
    color: var(--text-light);
    padding: 0 unit(1) 0 unit(2);
    border-radius: unit(2);
    margin: 0 unit(.5) unit(.5) 0;
    height: unit(4);
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    line-height: calc(#{unit(4)} - 4px);
    overflow: hidden;
    white-space: nowrap;
    transition: background-color var(--animation-easing) var(--animation-duration-standard),
    border-color var(--animation-easing) var(--animation-duration-standard);

    &-detail,
    &-name,
    &-value {
      display: inline-block;
    }

    &-name {
      text-transform: uppercase;
    }

    &-value {
      font-style: italic;
      margin-left: unit(.5);
    }

    &--variant-1 {
      background-color: var(--architect-variant--2);
    }

    &--variant-2 {
      background-color: var(--architect-variant--3);
    }

    &--variant-3 {
      background-color: var(--architect-variant--4);
    }

    &--has-error {
      background-color: var(--color-platinum--dark);
      border-color: var(--error);
      color: var(--error);
    }

    .form-round-button {
      margin: 0 0 0 unit(2);
    }
  }

  &__add {
    &::before {
      content: '+';
      color: var(--text-light);
      display: block;
      position: relative;
      top: unit(-.2);
    }
  }

  &__modal {
    background-color: var(--architect-panel-background);
    color: var(--text);
    padding: unit(4);
    border-radius: unit(2);
    min-width: 50vw;

    &-title,
    &-setting,
    &-controls {
      margin: unit(2) 0 0;

      &:first-child {
        margin: 0;
      }
    }

    &-title {
      @include preset(title-2);
      text-align: center;
    }

    &-label {
      @include preset(copy-standard, font-size);
      margin: 0 0 unit(.5);
    }

    &-setting {
      background-color: var(--architect-dialog-background--dark);
      color: var(--text-light);
      padding: unit(4);
      border-radius: unit(2);
    }

    &-controls {
      @include preset(title-4);
    }

    .seamless-text-input__input {
      @include preset(copy-large);
      color: var(--text-light);
    }
  }
}
