$component-name: form-fields-variable-picker;

.#{$component-name} {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: units.unit(4) 0;

  fieldset {
    --variable-pill-background: var(--color-white);
    --variable-pill-shadow-color: var(--color-platinum--dark);

    background: var(--section-background-color);
    flex: 1;
    border: 2px dashed var(--architect-panel-divider);
    padding: units.unit(2);
    border-radius: var(--border-radius);

    > legend {
      @extend .small-heading; // sass-lint:disable-line placeholder-in-extend

      padding: 0 units.unit(2);
    }

    .variable-pill {
      margin-bottom: units.unit(2);
    }
  }

  &__error {
    color: var(--error);
    margin-bottom: 0;
  }
}
