.edit-skip-logic {
  &__section {
    position: relative;
    padding-top: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 30px;
      display: 'block';
      width: 0;
      height: 20px;
      border-left: 8px solid var(--architect-rule-control);
    }

    &--first {
      &::before {
        display: none;
      }
    }
  }

  &__action {
    @include flex-inline;

    background: var(--architect-rule-operator);
    border-radius: 10px;
    padding: 20px;
  }
}
