$card-shadow: 0 0 10px var(--color-shadow);
$component-name: start-protocol-stack;

.#{$component-name} {
  width: 100%;
  height: 38vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &__preview {
    flex: 0 0 calc(38vh + #{unit(1)});
  }

  &__label {
    padding: unit(1) 0 0;
    flex: 1 0 5vh;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__stack {
    height: 30vh;
    width: 30vh;
    margin: 0 auto unit(3);
    position: relative;
    z-index: var(--z-default);
    box-shadow: 0 0 25px 15px var(--color-shadow);

    &-cover {
      position: absolute;
      background: var(--architect-panel-background);
      border-radius: unit(1);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      transform: translate(unit(-1), unit(1));
      box-shadow: $card-shadow;
      padding: 20px;

      img {
        max-width: 100%;
        border-radius: unit(1);
      }
    }

    &::after,
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      content: '';
      display: block;
      background: var(--architect-panel-background);
      border-radius: unit(1);
      width: 100%;
      height: 100%;
      opacity: .5;
      box-shadow: $card-shadow;
    }

    &::after {
      transform: translate(unit(1), unit(-1));
      box-shadow: none;
    }

    &.tween-protocol {
      $transition-before: 500ms;
      $transition-after: 300ms;
      $transition-duration: 500ms;
      $transition-easing: cubic-bezier(.25, .1, .25, 1);
      will-change: transform;
      transform: translateZ(0);
      transition: width $transition-duration $transition-easing,
      height $transition-duration $transition-easing;

      .#{$component-name}__stack-cover {
        transition: transform $transition-duration $transition-easing;
      }

      img {
        transition: opacity $transition-before $transition-easing;
      }

      &::before,
      &::after {
        transition: transform $transition-before $transition-easing;
      }

      &-before {
        box-shadow: unset;

        .#{$component-name}__stack-cover {
          box-shadow: unset;
        }

        img {
          opacity: 0;
        }

        &::before,
        &::after {
          transform: translate(unit(-1), unit(1));
        }
      }

      &-active {
        width: 100%;
        height: 100%;

        .#{$component-name}__stack-cover {
          transform: translate(0, 0);
        }

        &::before,
        &::after {
          display: none;
        }
      }

      &-after {
        opacity: 0;
      }

    }
  }

  &__name {
    @include typography('title-3');
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: var(--text);
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__path {
    @include typography('copy-small');
    margin: unit(.5) 0 0;
    text-align: center;
    color: var(--text);
  }
}
