// sass-lint:disable no-ids

%start-route-enter {
  opacity: 0;

  .start__background {
    transform: translateY(100%);
  }
}

.start {
  @extend %start-route-enter;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-default);

  &__background {
    @extend %wave;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: transform var(--animation-duration-slow) var(--animation-easing);
    transform: translateZ(0);
  }

  &__split {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 3;

    &:first-child {
      align-items: flex-start;
      justify-content: flex-end;
      flex: 1 0 40%;
    }
  }

  &__brand {
    position: absolute;
    bottom: unit(4);
    right: unit(3);
    width: unit(25);
    z-index: var(--z-global-ui);
  }

  &__welcome {
    width: 51vw;
    margin: 0 auto;
    padding: 0 0 2.4rem 17rem;

    &-title,
    &-lead {
      color: var(--architect-panel-text);
    }

    &-title {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    &-lead {
      font-size: 23px;
      font-weight: 400;
    }
  }

  &__call-to-action {
    width: 100%;
    text-align: center;
    padding: 0 0 unit(8);

    & > * {
      margin: 0 unit(1);
    }

    .button--small {
      padding: 1.8em;
      width: 260px;
    }
  }

  &__protocols {
    width: 90vw;
    max-width: 1300px;
    margin: 0 auto;
    padding: unit(3);
    border-radius: unit(1);
    background-color: var(--light-background);
    display: flex;
    box-shadow: inset 5px 5px 15px var(--color-shadow);
    overflow: hidden;

    &-protocol {
      overflow: hidden;
      flex: 0 0 33%;
      padding: unit(2) unit(2) 0;
      min-width: calc(20vh + #{unit(4)});
    }
  }

  &.route-enter {
    @extend %start-route-enter;
    transition: opacity var(--animation-duration-standard) var(--animation-easing);
  }

  &.route-enter-active,
  &.route-enter-done {
    opacity: 1;

    .start__background {
      transform: translateY(0);
    }
  }

  &.route-exit {
    transition: opacity var(--animation-duration-standard) var(--animation-easing);
    opacity: 1;

    .start__background {
      transition: transform var(--animation-duration-standard) var(--animation-easing);
      will-change: transform;
      transform: translateY(0);
    }

    #create-new-protocol-button,
    #open-existing-protocol-button {
      transition: transform var(--animation-duration-standard) var(--animation-easing);
      will-change: transform;
    }
  }

  &.route-exit-active,
  &.route-exit-done {
    opacity: 0;

    .start__background {
      transform: translateY(100%);
    }

    #create-new-protocol-button {
      transform: translateX(-100%);
    }

    #open-existing-protocol-button {
      transform: translateX(100%);
    }
  }
}
