$component-name: items-expandable-item;

.#{$component-name} {
  width: 100%;

  &__preview {
    background-color: var(--architect-sortable-preview-background);
    color: var(--architect-sortable-text);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: unit(1.5) unit(1.5) 0 0;

    &-content {
      flex-grow: 1;
      padding: unit(2);

    }
  }

  &__control {
    padding: unit(2);
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: stretch;

    &--right {
      align-items: flex-start;
    }

    .icon {
      .cls-1,
      .cls-2 {
        fill: var(--architect-sortable-text);
      }
    }
  }

  &__expand {
    background-color: var(--architect-sortable-preview-background--alt);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: unit(1);
    border-radius: 0 0 unit(1.5) unit(1.5);
    cursor: pointer;

    .icon {
      width: unit(2);
      height: unit(2);

      .cls-1,
      .cls-2 {
        fill: var(--architect-sortable-text);
      }
    }

    &--open,
    &--close {
      height: unit(2.5);
    }

    &--open {
      display: block;
    }

    &--close {
      display: none;
    }
  }

  &__content {
    display: none;
    opacity: 0;
    transform-origin: 50% 0;
    background-color: var(--architect-sortable-background);
    color: var(--architect-sortable-text);
    padding: unit(4);
    border-radius: 0 0 unit(1.5) unit(1.5);
  }

  &--open {
    .#{$component-name}__content {
      display: block;
      animation-fill-mode: forwards;
      animation-name: grow;
      animation-duration: var(--animation-duration-standard);
      animation-timing-function: var(--animation-easing);
    }

    .#{$component-name}__expand {
      border-radius: 0;

      &--open {
        display: none;
      }

      &--close {
        display: block;
      }
    }
  }

  &--lock {
    .#{$component-name}__expand {
      cursor: not-allowed;
    }
  }
}

@keyframes grow {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
