.items-handle {
  width: unit(4);
  height: 100%;
  cursor: grab;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: unit(2);
    height: unit(2);
  }
}
