@use '~@codaco/ui/src/styles/global/core/units';

$component-name: items-item;

.#{$component-name} {
  width: 100%;
  background-color: var(--architect-sortable-background);
  color: var(--architect-sortable-text);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: units.unit(1.5);

  &__control {
    padding: units.unit(2);
    flex-grow: 0;

    .icon {
      .cls-1,
      .cls-2 {
        fill: var(--architect-sortable-text);
      }
    }
  }

  &__content {
    padding: units.unit(4) units.unit(2);
    flex-grow: 1;
  }
}
