@use '~@codaco/ui/src/styles/global/core/units';

.items-new-button {
  width: units.unit(6);
  height: units.unit(6);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--architect-edit-button-background);
  border-radius: 50%;

  .icon {
    width: units.unit(2);
    height: units.unit(2);

    .cls-1 {
      fill: var(--architect-edit-button-fill);
    }
  }
}
