@use '~@codaco/ui/src/styles/global/core/units';

.list-delete-button {
  transform-origin: center center;
  width: units.unit(4);
  height: units.unit(4);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: units.unit(2);
  }
}
