@use '~@codaco/ui/src/styles/global/core/units';

$component-name: list-item;

.#{$component-name} {
  --input-border: var(--architect-sortable-text);

  z-index: var(--z-fx);
  width: 100%;
  background-color: var(--architect-sortable-background);
  color: var(--architect-sortable-text);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: var(--border-radius);
  margin-bottom: units.unit(1);



  &__control {
    padding: units.unit(2);
    flex-grow: 0;
    display: flex;
    align-items: center;

    .icon {
      .cls-1,
      .cls-2 {
        fill: var(--architect-sortable-text);
      }
    }
  }

  &__content {
    padding: units.unit(2);
    flex-grow: 1;

    > .stage-editor-section {
      --section-background-color: var(--color-slate-blue--dark) !important; // sass-lint:disable-line no-important
      --architect-panel-shadow: rgb(58 58 117 / 76%) !important; // sass-lint:disable-line no-color-literals no-important
      --input-background: var(--color-white) !important; // sass-lint:disable-line no-important
      --variable-pill-background: var(--color-platinum) !important; // sass-lint:disable-line no-important
    }
  }

  .list-row,
  .list-group {
    &:last-child {
      margin: 0;
    }
  }

  &--clickable {
    box-shadow: 0 .2rem rgb(17 21 27 / 66.4%); // sass-lint:disable-line no-color-literals
    cursor: pointer;
    transition: box-shadow var(--animation-duration-very-fast) var(--animation-easing);

    &:hover {
      box-shadow: 0 .4rem .2rem 0 rgb(17 21 27 / 35%); // sass-lint:disable-line no-color-literals
    }

    &:active {
      box-shadow: unset;
    }

  }
}
