$component-name: list-item;

.#{$component-name} {
  z-index: var(--z-fx);

  &__container {
    --input-border: var(--architect-sortable-text);
    width: 100%;
    background-color: var(--architect-sortable-background);
    color: var(--architect-sortable-text);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: unit(1.5);
    margin: unit(2) 0 0;
  }

  &__control {
    padding: unit(2);
    flex-grow: 0;
    display: flex;
    align-items: center;

    .icon {
      .cls-1,
      .cls-2 {
        fill: var(--architect-sortable-text);
      }
    }
  }

  &__content {
    padding: unit(2);
    flex-grow: 1;
  }

  .list-row,
  .list-group {
    &:last-child {
      margin: 0;
    }
  }

  &--clickable {
    .#{$component-name}__container {
      // @include clickable(2);
    }
  }
}
