.list-controls {
  display: flex;
  width: 100%;

  &__section {
    display: flex;
    align-items: center;
    padding-right: unit(4);

    .form-field-container,
    .form-field {
      margin: 0;

      h4 { display: none; }
    }

    &-name {
      padding-right: unit(1);
    }
  }
}
