@use '~@codaco/ui/src/styles/global/core/units';

.list {
  &__error {
    margin: units.unit(2) 0;
    color: var(--error);
  }

  &__controls {
    padding-bottom: units.unit(2);
    margin-bottom: units.unit(2);
    border-bottom: 2px solid var(--architect-sortable-preview-background--alt);
  }
}
