.asset-browser {
  &__window {
    width: 100rem;
    max-width: 90%;
    margin: 0 auto;
    background: var(--background);
    color: var(--text);
    border: 0;
    overflow: hidden;

    .dialog__footer {
      width: 100%;
      padding: unit(1) unit(2);
      background: var(--color-slate-blue);
      display: flex;
      justify-content: flex-end;
      margin: 0;
    }
  }

  &__create {
    flex: 0 0 150px;
  }

  &__assets {
    width: 100%;
  }
}

.dialog {
  .asset-browser__content {
    max-height: 75vh;
  }
}
