$assets-per-row: 5;

.asset-browser-assets {
  &__controls {
    margin-bottom: unit(2);
    width: 50%;
  }

  &__assets {
    display: flex;
    flex-wrap: wrap;
  }

  &__asset {
    flex: 0 0 unit(35);
    margin: 0 unit(2) unit(2) 0;
  }
}

.dialog {
  .asset-browser-assets__assets {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
