@use '~@codaco/ui/src/styles/global/core/units';

.asset-browser-assets {
  &__controls {
    --input-background: transparent;

    margin-bottom: units.unit(2);

    .form-field-container {
      display: flex;
      align-items: center;

      h4 {
        flex: 0 0 auto;
        margin: 0;
      }

      .form-field-radio-group {
        flex-direction: row;
        margin-bottom: 0;
        width: unset;

        .form-field-radio {
          margin-bottom: 0;
          margin-right: units.unit(2);
        }
      }

    }


  }

  &__assets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: units.unit(2);
  }

}
