.asset-browser-asset {
  padding-bottom: 67%;
  width: 100%;
  height: 0;
  position: relative;
  background-color: var(--color-navy-taupe);
  cursor: pointer;

  &__preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .thumbnail--image {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    @include typography('title-2');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px var(--color-rich-black)
    0 0 10px var(--color-white);
  }

  &__delete {
    position: absolute;
    top: unit(.75);
    right: unit(.75);
    width: unit(2.6);
    height: unit(2.6);
    border-radius: unit(2.6);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition-property: background-color;
    transition-duration: var(--animation-duration-fast);

    .icon {
      width: unit(1.2);
      height: unit(1.2);

      .cls-1,
      .cls-2 {
        fill: var(--text-light);
        background-color: transparent;
        transition-property: fill;
        transition-duration: var(--animation-duration-fast);
      }
    }

    &:hover {
      background-color: var(--background-light);

      .icon {
        .cls-1,
        .cls-2 {
          fill: var(--text-dark);
        }
      }
    }
  }

  &::after {
    @extend %badge;
    content: 'Unused';
    position: absolute;
    margin: 0;
    bottom: unit(.75);
    left: unit(.75);
    background: var(--error);
  }

  &--is-used {
    .asset-browser-asset__delete {
      cursor: not-allowed;
    }

    &::after {
      display: none;
    }
  }
}
