.asset-browser {
  display: flex;
  flex-direction: column;
  max-height: 75vh;

  &__create {
    flex: 0 0 150px;
  }

  &__assets {
    @include no-scrollbars;
    width: 75vw;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
