@use '~@codaco/ui/src/styles/global/core/units';

.rules-preview-text {
  &__join {
    padding: units.unit(2) units.unit(4);
    border-top: 4px solid var(--section-background-color);
    width: 100%;
    height: 0;

    > legend {
      @extend .small-heading; // sass-lint:disable-line placeholder-in-extend

      text-align: center;
      font-style: italic;
      color: var(--text);
      padding: units.unit(1) units.unit(2);
    }
  }

  &__value {
    border-bottom: 3px dotted var(--architect-rules-assert);
    margin: 0 .4rem -3px;
    font-weight: 600;
  }
}
