@use '~@codaco/ui/src/styles/global/core/units';

.rules-rules {
  &__join {
    --input-border: var(--text);

    margin-top: units.unit(4);
  }

  &__add-new {
    margin-top: units.unit(2);

    button {
      margin: 0 units.unit(2) 0 0;
    }
  }

  &--has-error {
    .rules-preview-rules {
      border-color: var(--error);
    }
  }
}
