.new-stage-interface-category {
  border-left-color: transparent;
  border-left-width: unit(1);
  border-left-style: solid;
  background-color: var(--architect-panel-grey);
  border-radius: var(--border-radius);
  padding: 2rem;

  &__title {
    margin: 0;
  }

  &__interfaces {
    display: flex;
    flex-wrap: wrap;
  }

  &__interface {
    margin: 4rem 4rem 0 0;
  }

  @each $category in $new-stage-categories {
    &--#{$category} {
      border-left-color: var(--color-#{$category});
    }
  }
}
