.new-stage-navigation {
  background: var(--background-dark);
  color: var(--text-light);
  display: flex;
  padding: 0 2rem;
  border-radius: var(--border-radius);

  &__category {
    padding: 0 1rem;
    color: var(--text-light);
    height: 5rem;
    line-height: 5rem;
    background-color: transparent;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: var(--animation-duration-standard);
    transition-timing-function: var(--animation-easing);

    @each $category in $new-stage-categories {
      &--#{$category} {
        &:hover {
          background-color: var(--color-#{$category});
        }
      }
    }
  }
}
