$new-stage-categories: [name-generators name-interpreters sociograms utilities];

.new-stage {
  --color-name-generators: var(--ord-color-seq-2);
  --color-sociograms: var(--ord-color-seq-3);
  --color-name-interpreters: var(--ord-color-seq-4);
  --color-utilities: var(--ord-color-seq-5);

  width: 100%;
  overflow-y: auto;

  &__navigation {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__options {
    max-width: 80rem;
    margin: 0 auto;
  }

  &__category {
    margin: unit(2) 0;

    &:first-child {
      margin: 0;
    }
  }
}
