@use '~@codaco/ui/src/styles/global/core/units';

.rules-preview-rule {
  padding: units.unit(1) units.unit(2);
  cursor: pointer;
  display: flex;
  border-radius: var(--border-radius);
  width: 95%;
  margin: 0 auto;
  height: 5rem;
  align-items: center;

  &__text {
    --base-node-size: 7rem;

    flex-grow: 1;
    color: var(--text-dark);
    display: flex;
    align-items: center;
    width: 100%;

    .preview-node,
    .preview-edge,
    .variable-pill {
      zoom: .8;
      margin: 0;
      max-width: 24rem;
      color: var(--text-dark);
    }

    .preview-edge,
    .variable-pill {
      margin: 0 .8rem;
    }
  }

  &__delete {
    flex-grow: 0;
    flex-basis: units.unit(3);
    border: 0;
    width: units.unit(3);
    height: units.unit(3);
    margin: 0 0 0 units.unit(1);
    border-radius: units.unit(3);
    opacity: 0;
    transition: opacity var(--animation-duration-fast) var(--animation-easing);
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--error);

    .icon {
      width: units.unit(2);
      height: units.unit(2);

      .cls-1,
      .cls-2 {
        fill: var(--architect-sortable-text);
      }
    }
  }

  &:hover {
    --variable-pill-shadow-color: var(--color-rich-black);

    background-color: var(--background-dark);

    .rules-preview-rule__delete {
      opacity: 1;
    }

    .rules-preview-rule__text {
      color: var(--text-light);
    }
  }
}

.stage-editor-section {
  --variable-pill-background: var(--color-platinum);
  --variable-pill-shadow-color: rgb(212 212 212); // sass-lint:disable-line no-color-literals

  .preview-edge {
    background: var(--variable-pill-background);
  }

  .stage-editor-section {
    --variable-pill-background: var(--color-white);
    --variable-pill-shadow-color: var(--color-platinum--dark);

    .preview-edge {
      background: var(--variable-pill-background);
    }
  }
}
