.rules-preview {
  &__rules {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__rule {
    padding: unit(1);
    margin: 0 unit(-.5);
    cursor: pointer;
    background-color: transparent;
    transition: background-color ease 300ms;

    &:hover {
      background-color: var(--background-light);
      border-radius: unit(1);
    }
  }
}
