.rules-rules {
  &__join,
  &__preview {
    margin-top: unit(2);
  }

  &__add-new {
    margin-top: unit(2);

    button {
      margin: 0 unit(2) 0 0;
    }
  }

  &__error {
    opacity: 0;
    max-height: 0;
    color: var(--error);
    margin: unit(1) 0 0;
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
  }

  &--has-error {
    .rules-rules__error {
      opacity: 1;
      max-height: 50px;
    }
  }
}
