.rules-rules {
  &__join {
    --input-border: var(--text);
    margin-top: unit(4);
  }

  &__add-new {
    margin-top: unit(2);

    button {
      margin: 0 unit(2) 0 0;
    }
  }

  &--has-error {
    .rules-preview-rules {
      border-color: var(--error);
    }
  }
}
