.rules-rules {
  &__join {
    margin-top: unit(4);
  }

  &__add-new {
    margin-top: unit(2);

    button {
      margin: 0 unit(2) 0 0;
    }
  }

  .rules-preview-rules {
    border: 1px solid transparent;
  }

  &--has-error {
    .rules-preview-rules {
      border-color: var(--error);
    }
  }

  .form-field-radio-group {
    background-color: var(--color-white);
  }
}
