.prompts-prompt-window {
  padding: unit(4);
  width: 65vw;
  min-width: 700px;
  background-color: var(--architect-sortable-background);
  color: var(--architect-sortable-text);
  border-radius: unit(1.5);
}
