.prompts-prompt-form {
  flex: 1 1 auto;
  background: var(--background-light);
  border-radius: unit(1);
  box-shadow: 0 0 4rem 0 var(--modal-window-box-shadow);

  &__container {
    @include no-scrollbars;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__content {
    min-height: 100%;
    padding: unit(6);
  }

  &__fields {
    margin-top: unit(5);
  }

  &__controls {
    position: sticky;
    bottom: -1px;
    left: 0;
    padding: unit(1) unit(2);
    background: var(--architect-control-bar-background);
    border-bottom-left-radius: unit(1);
    border-bottom-right-radius: unit(1);
    display: flex;
    justify-content: flex-end;
    transform: translateY(1px);

    button {
      margin-right: unit(2);
    }
  }
}
