.prompts-prompt-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--architect-background);
  color: var(--architect-text);
  display: flex;

  //&__content {
    //flex: 1 1 auto;
    //padding: unit(6) unit(6) unit(16);
  //}
}
