@use '~@codaco/ui/src/styles/global/core/units';

.grid {
  .layout {
    height: 450px;
    background: var(--background-dark);
    border-radius: 1rem;
  }

  &__item {
    position: relative;

    .react-resizable-handle {
      background: transparent;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1rem;
        height: 1rem;
        border-bottom-right-radius: .5rem;
        border-bottom: 2px solid var(--architect-active);
        border-right: 2px solid var(--architect-active);
      }
    }
  }

  &__error {
    opacity: 0;
    background-color: var(--error);
    color: var(--text-light);
    border-radius: .5rem;
    max-height: 0;
    margin-top: units.unit(2);
    padding: .5rem;
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);

    .icon {
      height: units.unit(2);
    }
  }

  &--has-error {
    .grid__error {
      opacity: 1;
      max-height: 50px;
    }
  }
}

.grid-manager {
  &__add {
    margin-top: 1rem;

    .button {
      margin: 0;
    }
  }
}

.grid-item {
  position: absolute;
  height: 100%;
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  background-color: var(--architect-sortable-background);
  color: var(--architect-sortable-text);
  border-radius: .5rem;

  &__controls {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
  }

  &__edit,
  &__delete {
    cursor: pointer;
    padding: .5rem;

    .icon {
      height: units.unit(2);
      width: units.unit(2);
    }
  }

  &__delete {
    margin-left: 1rem;

    .icon {
      .cls-1,
      .cls-2 {
        fill: var(--architect-sortable-text);
      }
    }
  }

  &__content {
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    overflow-y: auto;

    div {
      height: 100%;
      width: 100%;
      padding: 1rem 2rem;
    }

    .assets {
      background-color: var(--architect-sortable-background);
      color: var(--architect-sortable-text);
      height: auto;
    }
  }

  audio {
    width: 100%;
  }

  video {
    width: 100%;
    height: 100%;
  }
}
