@use '~@codaco/ui/src/styles/global/core/units';

.start {
  margin: 0 auto;
  width: 60rem;
  transition-duration: var(--animation-duration-standard);
  transition-timing-function: var(--animation-easing);
  transition-property: opacity;
  display: flex;
  flex-direction: column;
  align-items: center;

  #create-new-protocol-button,
  #open-existing-protocol-button {
    transition: transform var(--animation-duration-standard) var(--animation-easing);
  }

  &__welcome {
    display: flex;
    align-items: center;
    margin-bottom: 3vmin;

    &-logo {
      width: 20vmin;
      margin-right: 3vmin;
    }

    &-title,
    &-lead {
      color: var(--color-navy-taupe);
    }

    &-title {
      font-size: 5.6vmin;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: units.unit(2);
    }

    &-lead {
      font-size: 2.5vmin;
      font-weight: 400;
    }

  }

  &__call-to-action {
    padding: 0 0 units.unit(8);

    .button {
      margin: 0 units.unit(2) 0 0;
      padding: 1.8em;
      width: units.unit(30);
      transition: transform 5s ease-in;
    }
  }

  &--hide {
    #create-new-protocol-button {
      transform: translateX(-100%);
    }

    #open-existing-protocol-button {
      transform: translateX(100%);
    }
  }
}
