@use '~@codaco/ui/src/styles/global/core/units';

.tag {
  display: inline-flex;
  padding: 3px;
  border-radius: units.unit(5);
  width: auto;
  margin: units.unit(.5);
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-light-muted);
  background: var(--architect-panel-shadow);
  border: 4px solid transparent;

  &--light {
    color: var(--text-dark);
    background: var(--color-platinum);
  }

  &--clickable {
    @include clickable(.5);
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &__dot {
    @include color-modifiers($include-hover: false);

    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  &__label {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .15em;
    padding: 0 .75rem;
  }

  &__reset {
    cursor: pointer;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: units.unit(2);
    }
  }

  &--selected {
    color: var(--color-white);
    background: var(--color-slate-blue);
  }
}
