$component-name: form-fields-color-picker;
$color-picker-size: units.unit(7);
$color-picker-border-size: 5px;

.#{$component-name} {
  &__edit {
    background: var(--input-background);
    color: var(--input-text);
    border-radius: 1rem 1rem 0 0;
    padding: units.unit(1) 0 0 units.unit(1);
  }

  &__label {
    font-family: var(--heading-font-family);
    font-size: inherit;
    color: var(--text);
    margin-top: units.unit(4);
    margin-bottom: units.unit(2);
    font-weight: 600;
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
  }

  &__color {
    display: flex;
    width: $color-picker-size;
    height: $color-picker-size;
    border-radius: $color-picker-size;
    margin: 0 units.unit(1) units.unit(1) 0;
    overflow: hidden;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition-duration: var(--animation-duration-standard);
    transition-timing-function: var(--animation-easing);
    transition-property: background-color;

    &::after {
      margin: $color-picker-border-size;
      background-color: var(--color);
      content: '';
      width: calc(#{$color-picker-size} - #{$color-picker-border-size * 2});
      height: calc(#{$color-picker-size} - #{$color-picker-border-size * 2});
      border-radius: $color-picker-size;
      border-color: transparent;
      border-style: solid;
      border-width: .15rem;
      transition-duration: var(--animation-duration-standard);
      transition-timing-function: var(--animation-easing);
      transition-property: border-color;
    }

    &.#{$component-name}__color--selected {
      background-color: var(--node-outer-trim-stroke);

      &::after {
        border-color: var(--background-light);
      }
    }
  }

  &__color-label {
    display: none;
  }

  &__error {
    opacity: 0;
    background: var(--error);
    color: var(--form-error-text);
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
    padding: .5rem .25rem;
    display: flex;
    align-items: center;

    svg {
      max-height: 1.2rem;
    }
  }

  &--has-error {
    .#{$component-name}__edit {
      border: .1rem solid var(--error);
    }

    .#{$component-name}__error {
      opacity: 1;
    }
  }
}
