$component-name: form-fields-image;

.#{$component-name} {
  width: 100%;
  background: var(--color-rich-black);
  padding: units.unit(2);
  border-radius: var(--border-radius);

  &__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
  }
}
