div.form-fields-select, // sass-lint:disable-line no-qualifying-elements, force-element-nesting
img.form-fields-select { // sass-lint:disable-line no-qualifying-elements, force-element-nesting
  @include form-field;

  width: 100%;
  font-size: var(--base-font-size);

  &__control {
    background: var(--input-background);
    color: var(--input-text);
    border: 0;
    border-radius: 1rem 1rem 0 0;
    padding: 0 1rem;
    width: 100%;
    min-height: 4rem;
    box-shadow: unset;

    &:hover {
      border-color: var(--primary);
      box-shadow: unset;
    }
  }

  &__placeholder {
    color: var(--input-placeholder);
    font-style: italic;
  }

  &__value-container {
    padding: 0;
  }

  &__menu {
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
    margin: 0;
  }

  &__menu-list {
    padding: 0;
  }

  &__option {
    width: 100%;
    font-size: var(--base-font-size);

    &:active {
      background-color: var(--color-sea-green--dark);
      color: var(--text-light);
    }

    &--is-focused {
      background-color: var(--color-platinum);
    }

    &--is-selected {
      background-color: var(--primary);
    }
  }

  &__item {
    padding: 0 1rem;
    display: flex;
    min-height: 4rem;

    &--image {
      display: flex;
    }

    &-label {
      display: inline-flex;
      align-items: center;
      justify-content: left;
      flex-grow: 1;
    }

    &-add,
    &-delete,
    &-warning {
      display: inline-flex;
      align-items: center;
      flex: 0 0 units.unit(2);
    }

    &-add {
      .icon {
        height: units.unit(2);
        line-height: units.unit(2);
        padding: .3rem;
        margin-right: units.unit(1);
        background: var(--color-sea-green);
        border-radius: units.unit(2);

        .cls-1 {
          fill: var(--text-light);
        }
      }
    }

    &-delete {
      .icon {
        height: units.unit(2);
      }
    }

    &-warning {
      .icon {
        height: units.unit(4);
        width: units.unit(4);
        padding: units.unit(1);
        margin-right: units.unit(1);
      }
    }

    &--warning {
      background: var(--error);
      color: var(--color-white);
    }
  }

  &__full {
    width: 100%;
  }

  &__label {
    @include preset('title-4');

    font-weight: 600;
  }

  &__error {
    opacity: 0;
    background: var(--error);
    padding: .5rem .25rem;
    display: flex;
    align-items: center;

    svg {
      max-height: 1.2rem;
    }
  }

  &--has-error {
    .form-fields-select__error {
      opacity: 1;
    }

    .form-fields-select__control {
      border: .1rem solid var(--error);
    }
  }

  &--light-background {
    .form-fields-select__control {
      background-color: var(--background);
    }
  }
}
