.guided-default-guidance {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 35%;
  max-width: unit(45);
  padding: unit(4);
  transition: opacity var(--animation-duration-standard) var(--animation-easing),
  transform var(--animation-duration-slow) var(--animation-easing);
  opacity: 0;

  &__toggle {
    position: absolute;
    top: calc(50% - 60px);
    left: -30px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    background: var(--architect-tab);
    color: var(--architect-tab-text);
    width: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .25rem;
    font-size: 2rem;
  }

  &--is-active {
    transition: opacity var(--animation-duration-standard) var(--animation-easing),
    transform var(--animation-duration-slow) var(--animation-easing);
    opacity: 1;
  }
}
