.guided {
  position: relative;
  z-index: var(--z-default);

  &__content {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  &--show-guidance {
    .guided__content {
      width: 60vw;
    }
  }
}
