.guided-guidance {
  transition: transform var(--animation-duration-slow) var(--animation-easing);
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 35vw;
  height: 100%;
  background-color: var(--architect-panel-background);

  &__content {
    opacity: 0;
    transition: opacity var(--animation-duration-standard) var(--animation-easing);
    padding: unit(4);
  }

  &__toggle {
    position: absolute;
    top: calc(50% - 60px);
    left: -30px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    background: var(--architect-tab);
    color: var(--architect-tab-text);
    width: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .25rem;
    font-size: 2rem;
    cursor: pointer;
  }

  &--show {
    transform: translateX(0);

    .guided-guidance__content {
      opacity: 1;
    }
  }
}
