.guided-guidance {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 35%;
  max-width: unit(45);
  padding: unit(4);
  transition: opacity var(--animation-duration-standard) var(--animation-easing),
  transform var(--animation-duration-slow) var(--animation-easing);
  opacity: 0;

  &--is-active {
    transition: opacity var(--animation-duration-standard) var(--animation-easing),
    transform var(--animation-duration-slow) var(--animation-easing);
    opacity: 1;
  }
}
