.guided-guidance {
  transition: transform var(--animation-duration-slow) var(--animation-easing);
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--z-panel);
  width: 30vw;
  height: 100%;
  background-color: var(--architect-guidance-background);
  color: var(--architect-guidance-text);

  &__content {
    opacity: 0;
    transition: opacity var(--animation-duration-standard) var(--animation-easing);
    padding: unit(6);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__guidance {
    position: absolute;
    width: 100%;

    &-container {
      flex-grow: 1;
      height: 100%;
      position: relative;
      width: 100%;
    }
  }

  // CSSTransition styles
  &__tween {
    &-enter {
      transform: translateX(-5%);
      transform-origin: 0 0;
      opacity: 0;
      transition-property: opacity, transform;
      transition-duration: var(--animation-duration-slow), var(--animation-duration-slow);
      transition-delay: var(--animation-duration-fast), 0;
      transition-timing-function: var(--animation-easing);

      &-active {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &-exit {
      transform-origin: 0 0;
      transform: translateX(0);
      opacity: 1;
      transition-property: opacity, transform;
      transition-duration: var(--animation-duration-fast), var(--animation-duration-fast);
      transition-timing-function: var(--animation-easing);

      &-active {
        transform: translateX(5%);
        opacity: 0;
      }
    }
  }

  &__toggle {
    position: absolute;
    top: 50%;
    left: 0;
    border-top-left-radius: unit(6);
    border-bottom-left-radius: unit(6);
    background-color: var(--architect-guidance-toggle-background);
    color: var(--architect-guidance-toggle-label);
    width: unit(3);
    height: unit(5);
    cursor: pointer;
    transform: translate(-100%, unit(-5));
    transition: background-color var(--animation-duration-standard) var(--animation-easing);
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      height: unit(1.5);
      left: unit(.3);
      position: relative;

      &--open {
        display: block;
      }

      &--close {
        display: none;
      }
    }

    &:hover {
      background-color: var(--architect-guidance-toggle-background--hover);
    }
  }

  &--show {
    transform: translateX(0);

    .guided-guidance__content {
      opacity: 1;
    }

    .guided-guidance__toggle {
      &-icon {
        &--open {
          display: none;
        }

        &--close {
          display: block;
        }
      }
    }
  }
}
