.guided {
  position: relative;
  z-index: var(--z-default);

  &__content {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 30px);
    padding: unit(4);
  }

  &--show-guidance {
    .guided__content {
      width: calc(65vw - 30px);
    }
  }
}
