.stage-editor-section-content-items {

  &__controls {
    margin-top: unit(2);
  }

  &__control {
    margin-right: unit(1);
    color: var(--text-light);

    &::before {
      content: '+';
      font-size: 1.75rem;
      line-height: 100%;
      position: relative;
      top: unit(-.25);
      margin-right: unit(1);

    }

    &--text {
      @include button-background(var(--architect-variant--1));
    }

    &--image {
      @include button-background(var(--architect-variant--2));
    }

    &--audio {
      @include button-background(var(--architect-variant--3));
    }

    &--video {
      @include button-background(var(--architect-variant--4));
    }


  }
}
