.stage-editor-section-prompt {

  &__group {
    margin: 0 0 unit(2);
    padding: unit(2) 0 0;
    border-top: 2px solid var(--architect-border);

    .form-field-container {
      --input-background: var(--background);
      margin-bottom: 3rem;

      h4 {
        font-weight: bold;
      }
    }

    &:first-child {
      border: 0;
      padding: 0;
    }

    &-title {
      margin: unit(2) 0;
      font-weight: bold;
    }
  }

  &__setting {
    margin: 0 0 unit(2);
  }

  &__label {
    @include preset(copy-standard);
    font-weight: 200;
    font-family: var(--body-font-family);
    display: block;
    margin: 0 0 unit(1);
  }
}
