.stage-editor-section-prompt {
  &__group {
    margin: 0 0 unit(2);
    padding: unit(2) 0 0;
    border-top: 2px solid var(--architect-border);

    &:first-child {
      border: 0;
      padding: 0;
    }

    &-title {
      @include preset(title-3, font-size);
      font-weight: 600;
      margin: 0 0 unit(2);
    }
  }

  &__setting {
    margin: 0 0 unit(2);
  }

  &__label {
    @include preset(copy-standard);
    font-weight: 200;
    font-family: var(--body-font-family);
    display: block;
    margin: 0 0 unit(1);
  }
}
