.stage-editor-row {
  transition-property: opacity, transform, max-height, margin-top;
  transition-duration: var(--animation-duration-standard);
  transition-timing-function: var(--animation-easing);
  margin-top: 3rem;
  opacity: 1;
  max-height: auto;
  transform: translateX(0);

  &--disabled {
    opacity: 0;
    max-height: 0;
    transform: translateX(-100%);
    margin-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}
