.stage-editor-section {
  transition-property: opacity, transform, max-height, margin-top;
  transition-duration: var(--animation-duration-standard);
  transition-timing-function: var(--animation-easing);
  opacity: 1;
  max-height: auto;
  max-width: 70rem;
  transform: translateX(0);
  overflow: hidden;
  margin: unit(4) auto;
  padding: unit(4);
  background: var(--architect-panel-grey);
  border-radius: var(--border-radius);

  >:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-top: 0;
    border: 0;
  }

  &--disabled {
    opacity: 0;
    max-height: 0;
    transform: translateX(-100%);
    margin-top: 0;
  }

  // &--group {
  .stage-editor-section {
    margin: unit(4) 0 0;
    padding: unit(1) unit(2) unit(2);
    background: var(--architect-panel-grey);
    border-radius: unit(1);
  }

  &--compact-next {
    margin-bottom: -2.5rem;
    padding-bottom: 0;
  }
}
