.stage-editor-section {
  --section-background-color: var(--architect-panel-grey);
  overflow: hidden;
  margin: unit(4);
  padding: unit(2) unit(4);
  background: var(--section-background-color);
  border-radius: var(--border-radius);
  position: relative;

  .form-field-container {
    margin-bottom: 0;
  }

  .section-description {
    margin: 0;
  }

  > legend {
    @extend .small-heading; // sass-lint:disable-line placeholder-in-extend
    font-size: 13px;
    padding: unit(1) unit(2);
    background: var(--section-background-color);
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.toggleable {
      cursor: pointer;
    }

    .icon {
      height: unit(1);
      width: unit(1);
      margin-right: unit(1);

      .cls-2 {
        fill: var(--color-charcoal);
      }
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  .stage-editor-section {
    --section-background-color: var(--architect-panel-grey--dark);
    margin: unit(4) 0;
    background: var(--section-background-color);
    border-radius: unit(1);
  }

  &--compact-next {
    margin-bottom: -2.5rem;
    padding-bottom: 0;
  }
}
