.stage-editor-section {
  transition-property: opacity, transform, max-height, margin-top;
  transition-duration: var(--animation-duration-standard);
  transition-timing-function: var(--animation-easing);
  opacity: 1;
  max-height: auto;
  transform: translateX(0);
  overflow: hidden;
  margin: 0 unit(2);
  padding: unit(4) 0;
  border-top: unit(0.2) solid var(--background-alt);

  &:first-child {
    margin-top: 0;
    border: 0;
  }

  &--disabled {
    opacity: 0;
    max-height: 0;
    transform: translateX(-100%);
    margin-top: 0;
  }

  // &--group {
  .stage-editor-section {
    margin: unit(4) 0 0 0;
    padding: unit(1) unit(2) unit(2) unit(2);
    border: unit(.2) solid var(--background-alt);
    border-radius: unit(1);
  }

  &--compact-next {
    margin-bottom: -2.5rem;
    padding-bottom: 0;
  }

  &--no-border {
    border: none;
  }
}
