.stage-editor-section {
  --section-background-color: var(--architect-panel-grey);
  overflow: hidden;
  margin: unit(4);
  padding: unit(2) unit(4);
  background: var(--section-background-color);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 .2rem .2rem 0 var(--architect-panel-shadow);

  &--toggleable {
    &:not(.stage-editor-section--open) {
      .summary {
        margin-top: -#{unit(2)};
      }
    }
  }

  .form-field-container {
    margin-bottom: 0;
  }

  > legend {
    @extend .small-heading; // sass-lint:disable-line placeholder-in-extend
    --input-background: transparent;
    font-size: 1rem;
    padding: unit(1) unit(3);
    background: var(--section-background-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;

    .form-field-container {
      transform: scale(.7);
    }

    .form-field {
      padding: 0;
      margin: 0;
      min-height: auto;
    }

    .icon {
      height: unit(1);
      width: unit(1);
      margin-right: unit(1);

      .cls-2 {
        fill: var(--color-charcoal);
      }
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  .stage-editor-section {
    --section-background-color: var(--architect-panel-grey--dark);
    --architect-panel-divider: #bbc4c5; // sass-lint:disable-line no-color-literals
    --variable-pill-shadow-color: #c7ced0; // sass-lint:disable-line no-color-literals
    --input-background: var(--color-platinum--dark);

    margin: unit(4) 0;
    background: var(--section-background-color);
    border-radius: unit(1);
  }

  &--compact-next {
    margin-bottom: -2.5rem;
    padding-bottom: 0;
  }
}
