@use '~@codaco/ui/src/styles/global/core/units';

$component-name: stage-editor-section-sociogram-prompt;

.#{$component-name} {
  &__preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

    &-icon {
      & .node {
        font-size: 5rem;
      }
    }

    &-text {
      margin: 0 0 0 units.unit(2);

      & > * {
        margin: units.unit(2) 0 0;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

}
