.rule-input {  margin: 0;
  position: relative;
  overflow: hidden;
  padding: 0 0 4px;
  border-bottom: 2px solid var(--color-white);

  &__spacer {
    visibility: hidden;
    font-size: 1rem;
    height: 1.2em;
    min-width: 50px;
    padding: 0 5px;
  }

  input {
    &[type='number'] {
      // sass-lint:disable-block no-vendor-prefixes
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    left: 0;
    background-color: transparent;
    color: var(--text-light);
    padding: 0 5px;
    border: 0;
  }
}
