.rule-input {
  margin: 0;
  position: relative;

  &__spacer {
    visibility: hidden;
    font-size: 1rem;
    height: 1.2em;
    min-width: 75px;
    padding: 0 5px;
  }

  &__input {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    left: 0;
    background-color: transparent;
    color: var(--text-light);
    border: 0;
  }

  input {
    &[type='number'] {
      // sass-lint:disable-block no-vendor-prefixes
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    &[type='text'],
    &[type='number'] {
      padding: 4px 0;
      border-bottom: 2px solid var(--color-white);
    }
  }

  &--checkbox {
    .rule-input__spacer {
      min-width: 20px;
    }
  }
}
