.rule-add-button {
  width: 100%;
  position: relative;
  text-align: left;

  &__open {
    transition: opacity var(--animation-duration-standard) var(--animation-easing),
    transform var(--animation-duration-standard) var(--animation-easing);
    background-color: var(--primary);
    color: var(--text-light);
    border: 0;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1em;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }

  &__choices {
    transition: opacity var(--animation-duration-standard) var(--animation-easing),
    transform var(--animation-duration-standard) var(--animation-easing);
    opacity: 0;
    transform-origin: 0 50%;
    transform: translateY(-50%) scale(.5);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
  }

  &__choice {
    border: 0;
    cursor: pointer;
    padding: 0 40px;
    margin-left: 10px;
    background-color: var(--edge-alt-2);
    color: var(--text-light);
    border-radius: 10px;
    height: 30px;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &--alter {
      background-color: var(--architect-rule-type--alter);
    }

    &--ego {
      background-color: var(--architect-rule-attribute--ego);
    }

    &--edge {
      background-color: var(--architect-rule-type--edge);
    }
  }

  &--is-open {
    .rule-add-button__open {
      opacity: 0;
      transform: scale(0);
    }

    .rule-add-button__choices {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }
}
