.form-dropzone {
  @include preset('copy-standard');
  cursor: pointer;
  position: relative;
  border-radius: unit(2);
  height: unit(12);
  border-width: 2px;
  border-style: solid;
  transition-duration: var(--animation-duration-fast);
  transition-timing-function: var(--animation-easing);
  transition-property: border-color;
  border-color: transparent;
  background-color: var(--background-dark);
  overflow: hidden;
  padding: unit(4);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition-duration: var(--animation-duration-fast);
    transition-timing-function: var(--animation-easing);
    transition-property: filter, background-color;
  }

  &__label {
    color: var(--color-white);
    transition-duration: var(--animation-duration-standard);
    transition-timing-function: var(--animation-easing);
    transition-property: filter;
    line-height: unit(2);
  }

  &__link {
    display: inline-block;
    border-bottom: 2px solid var(--notice);
    line-height: unit(2);
    cursor: pointer;
  }

  &--active {
    .form-dropzone__label {
      filter: blur(5px);
    }
  }

  &--accept {
    border-color: var(--notice);
  }

  &--reject {
    border-color: var(--error);

    .form-dropzone__container {
      background-color: var(--error);
      filter: brightness(.3);
    }
  }
}
