@mixin form-field {
  &__label {
    // @include preset(copy-standard, font-size);
    // font-weight: 200;
    display: block;
    margin: 0 0 unit(1);
  }

  &__error {
    opacity: 0;
    color: var(--form-error-text);
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
  }
}

.form-field-container {
  h4 {
    font-weight: 600;
  }
}

@import './fields/contexts';
@import './fields/native-select';
@import './fields/select';
@import './fields/select-item';
@import './fields/variable-chooser';
@import './fields/textarea';
@import './fields/markdown';
@import './fields/mode';
@import './fields/file';
@import './fields/audio';
@import './fields/image';
@import './fields/video';
@import './fields/data-source';
@import './fields/order-by';
@import './fields/multi-select';
@import './fields/node-select';
@import './fields/edge-select';
@import './fields/color-picker';
