@mixin form-field {
  &__label {
    // @include preset(copy-standard, font-size);
    // font-weight: 200;
    display: block;
    margin: 0 0 unit(1);
  }

  &__error {
    opacity: 0;
    max-height: 0;
    color: var(--error);
    margin: unit(1) 0 0;
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
  }
}

@import './fields/contexts';
@import './fields/select';
@import './fields/variable-chooser';
@import './fields/textarea';
@import './fields/markdown';
@import './fields/mode';
@import './fields/file';
@import './fields/audio';
@import './fields/image';
@import './fields/video';
@import './fields/order-by';
@import './fields/multi-select';
@import './fields/node-select';
