.file-input {
  display: block;

  &__dropzone {
    height: 75px;
    width: 200px;
    background: red;

    &--replace {
      height: auto;
      width: auto;

      &::before {
        content: 'foo';
      }
    }

    &--active {

    }

    &--accept {

    }

    &--reject {

    }

    &--disabled {

    }
  }
}
