@use '~@codaco/ui/src/styles/global/core/units';

.form-round-button {
  font-size: units.unit(3);
  background-color: var(--architect-button-background--dark);
  color: var(--text);
  width: units.unit(4);
  height: units.unit(4);
  border-radius: 100%;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation-easing) var(--animation-duration-standard);

  .icon {
    width: 40%;
    height: 40%;
  }

  &--small {
    width: units.unit(2);
    height: units.unit(2);

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    background-color: var(--architect-button-background--dark--hover);
  }
}
