$module-name: seamless-text-input;

.#{$module-name} {
  display: block;

  &__input {
    background-color: transparent;
    border: 0;
    border-bottom: unit(.1) solid transparent;
    transition: border-bottom-color $animation-default-easing $animation-standard-duration;

    &:focus {
      border-bottom-color: palette('input-focus');
    }
  }

  &__icon {
    vertical-align: bottom;
    width: unit(2) !important;
    height: unit(2) !important;
    transition: opacity $animation-default-easing $animation-fast-duration;
  }

  &--hasFocus {
    .#{$module-name} {
      &__icon {
        opacity: 0;
      }
    }
  }
}
