$module-name: seamless-text-input;

.#{$module-name} {
  display: block;

  &__input {
    @include preset('copy-large', font-size);
    background-color: transparent;
    width: calc(100% - #{unit(3)});
    border: 0;
    border-bottom: unit(.2) solid palette('divider-light');
    transition: border-bottom-color var(--animation-easing) var(--animation-duration-standard-ms);

    &:focus {
      border-bottom-color: palette('input-focus');
    }

    &::placeholder {
      color: var(--divider-light);
    }
  }

  &__icon {
    margin-left: unit(1);
    vertical-align: bottom;
    width: unit(2) !important;
    height: unit(2) !important;
    opacity: 0;
    transition: opacity var(--animation-easing) var(--animation-duration-fast-ms);
  }

  &__error {
    opacity: 0;
    max-height: 0;
    color: var(--error);
    margin: unit(.5) 0 0;
    transition: opacity var(--animation-easing) var(--animation-duration-fast-ms),
      max-height var(--animation-easing) var(--animation-duration-fast-ms);
  }

  &--has-error {
    .#{$module-name}__error {
      opacity: 1;
      max-height: 50px;
    }
  }

  &--has-focus {
    .#{$module-name}__icon {
      opacity: 1;
    }
  }

  &:hover {
    .#{$module-name}__icon {
      opacity: 1;
    }
  }
}
