.select {
  display: block;

  &__label {
    @include preset(copy-small);
  }

  &__value, &__value option {
    @include preset(copy-standard, font-size);
    padding: unit(.5) unit(1);
    width: 100%;

    &:focus {
      border-color: palette('input-focus');
    }
  }
}
