.text-input {
  display: block;

  &__input {
    border: 1px solid palette('input-border');
    color: palette('input-text');
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;

    &:focus {
      border-color: palette('input-focus');
    }
  }
}
