.text-input {
  display: block;

  &__input {
    border: unit(.1) solid palette('input-border');
    color: palette('input-text');
    border-radius: unit(.5);
    padding: unit(.5) unit(1);
    width: 100%;

    &:focus {
      border-color: palette('input-focus');
    }
  }
}
