.content-grid {
  &__variables {
    display: flex;
    width: 100%;
    background: var(--architect-table-background);
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
  }

  &__variable {
    &:nth-child(even) {
      background: var(--architect-table-background--alt);
    }
  }

  &__add {
    margin: unit(1) 0 0;

    &::before {
      content: '+';
      color: var(--text-light);
      display: block;
      position: relative;
      top: unit(-.2);
    }
  }
}
