$duration: var(--animation-duration-standard);

.content-grid-editor {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: transform $duration, opacity $duration, max-height $duration;
  transform: translateX(-100%);

  &__content {
    padding: unit(4) unit(2);
  }

  &--show {
    max-height: 2000px;
    opacity: 1;
    transform: translateX(0);
    transition: transform $duration $duration, opacity $duration $duration, max-height $duration $duration;
  }

  .form-field-container {
    margin: unit(2) 0 0;

    &:first-child {
      margin: 0;
    }
  }

  label {
    margin: 0;
  }

  .button {
    margin: unit(2) 0 0;
  }

  .form-fields-file {
    .form-dropzone {
      background: var(--color-navy-taupe);
    }
  }
}
