.content-grid-preview {
  // sass-lint:disable-block class-name-format
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--architect-sortable-background);
  color: var(--architect-sortable-text);

  &__preview {
    @include no-scrollbars;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    min-height: 50px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__text {
    box-sizing: border-box;
    padding: unit(2);
  }

  &--size {
    &-SMALL {
      .content-grid-preview__preview {
        height: 10vh;
      }
    }

    &-MEDIUM {
      .content-grid-preview__preview {
        height: 20vh;
      }
    }

    &-LARGE {
      .content-grid-preview__preview {
        height: 40vh;
      }
    }
  }

  &--type {
    &-video,
    &-image {
      background-color: var(--architect-media-background);
    }

    &-video,
    &-audio,
    &-image {
      .content-grid-preview__preview {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  audio {
    width: 100%;
  }

  video {
    width: 100%;
    height: 100%;
  }

  .icon {
    .cls-1,
    .cls-2 {
      fill: var(--architect-sortable-text);
    }
  }

  .form-field-container,
  .form-field {
    margin: 0;
  };

  .items-handle,
  .items-delete-button {
    flex: 0 0 unit(6);
  }
}
