$duration: var(--animation-duration-standard);

.attributes-table-chooser {
  display: flex;
  flex-wrap: wrap;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: transform $duration, opacity $duration, max-height $duration;
  transform: translateX(-100%);

  &-variable {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 0 calc(25% - #{unit(2)});
    height: unit(12);
    padding: unit(2);
    margin: unit(1);
    border-radius: unit(2);
    border: 3px solid var(--architect-table-chooser);
    background-color: transparent;
    cursor: pointer;
    transition: background-color $duration;

    &:hover {
      background-color: var(--architect-table-chooser);
    }
  }

  &--show {
    max-height: 100%;
    opacity: 1;
    transform: translateX(0);
    transition: transform $duration $duration, opacity $duration $duration, max-height $duration $duration;
  }
}
