@use '@codaco/ui/src/styles/global/core/units';

.attributes-table-preview {
  display: flex;
  flex-direction: row;

  &__name,
  &__value,
  &__error,
  &__delete {
    padding: 0 units.unit(2);
  }

  &__name {
    flex: 0 0 units.unit(25);
    font-weight: 600;
  }

  &__value,
  &__error {
    flex-grow: 1;
  }

  &__error {
    font-style: italic;
    color: var(--error);
  }

  &__delete {
    flex: 0 0 units.unit(4);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: units.unit(2);
      height: units.unit(2);

      .cls-1,
      .cls-2 {
        fill: var(--text-dark);
      }
    }
  }
}
