@use '~@codaco/ui/src/styles/global/core/units';

$duration: var(--animation-duration-standard);

.attributes-table-variable {
  min-height: 50px;
  background: transparent;
  transition: background $duration;
  padding: units.unit(2) 0;

  .form-field-container,
  .form-field {
    margin: 0;
  };

  &__preview {
    max-height: 50px;
    overflow: hidden;
    transition: opacity $duration $duration, max-height $duration $duration;
  }

  &__edit {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity $duration, max-height $duration;
    color: var(--text-light);
    padding: 0 units.unit(2);
  }

  &--edit {
    background: var(--architect-table-edit-background);

    .attributes-table-variable__edit {
      max-height: fit-content;
      opacity: 1;
      transition: opacity $duration $duration, max-height $duration $duration;
    }

    .attributes-table-variable__preview {
      max-height: 0;
      opacity: 0;
      transition: opacity $duration, max-height $duration;
    }
  }
}
